<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.BomMapper">

    <!--1.添加-->
    <insert id="addBom" useGeneratedKeys="true" keyProperty="fid">

        INSERT INTO `t_bom`
        (`fid`, `billNo`, `muid`, `itemCode`, `itemName`, `itemModel`, `custItemCode`, `custItemModel`,
         `unitName`, `qty`, `billDate`, `DefCustId`, `ArtificialCost`, `materialCost`, `allCost`,
          `remark`, `createDate`, `billStaf`)
          VALUES
          (null, #{billNo}, #{muid}, #{itemCode}, #{itemName}, #{itemModel}, #{custItemCode}, #{custItemModel},
           #{unitName}, #{qty}, #{billDate}, #{DefCustId}, #{ArtificialCost}, #{materialCost}, #{allCost},
            #{remark}, now(), #{billStaf});
    </insert>

    <!--1 是规则表中的 销售订单规则-->
    <select id="getBillNo" resultType="String">
        SELECT GetBillNo(4,#{date});
    </select>

    <select id="getCounts" resultType="int">
        select count(*)
        from t_bom a INNER JOIN t_bomentry b on a.fid = b.mid
        left join t_customer c on a.DefCustId = c.fid
        left join t_supplier d on b.DefSuppId = d.fid
        where 1=1
        <if test="str != null or str != ''">
            and c.`name` like '%${str}%'  or d.`name` like '%${str}%' or a.billNo like '%${str}%'
            or a.`itemcode` like '%${str}%' or a.`itemname` like '%${str}%' or a.itemmodel like '%${str}%' or a.custItemCode like '%${str}%' or a.custItemModel like '%${str}%'
            or b.`itemcode` like '%${str}%' or b.`itemname` like '%${str}%' or b.itemmodel like '%${str}%' or b.custItemCode like '%${str}%' or b.custItemModel like '%${str}%'
        </if>
    </select>

    <select id="Bom_page" resultMap="BomMap">
        select a.fid,a.billNo,a.muid,a.billDate,a.itemCode,a.itemName,a.itemModel,a.custItemCode,a.custItemModel,a.unitName,a.qty,a.DefCustId,a.remark,c.`name` as 'DefCustIdName',allCost,
        b.fid as 'ffid',b.entryId,b.cuid,b.itemCode as 'miditemCode',b.itemName as 'miditemName',b.itemModel as 'miditemModel',b.custItemCode as 'midcustItemCode',b.custItemModel as 'midcustItemModel',b.unitName,
        b.qty as 'midQty',b.taxPrice,b.taxAmt,case when b.defSuppId>0 then b.defSuppId else 0 end as 'defSuppId',d.`name` as 'DefSuppIdName'
        from t_bom a INNER JOIN t_bomentry b on a.fid = b.mid
        left join t_customer c on a.DefCustId = c.fid
        left join t_supplier d on b.DefSuppId = d.fid
        where 1=1
        <if test="str != null or str != ''">
        and c.`name` like '%${str}%'  or d.`name` like '%${str}%' or a.billNo like '%${str}%'
        or a.`itemcode` like '%${str}%' or a.`itemname` like '%${str}%' or a.itemmodel like '%${str}%' or a.custItemCode like '%${str}%' or a.custItemModel like '%${str}%'
        or b.`itemcode` like '%${str}%' or b.`itemname` like '%${str}%' or b.itemmodel like '%${str}%' or b.custItemCode like '%${str}%' or b.custItemModel like '%${str}%'
        </if>
        ORDER BY a.billNo,a.muid,b.entryId
        limit #{startpage},#{pagesize}
    </select>

    <select id="Bom_pageGj" resultMap="BomMap">
        select a.fid,a.billNo,a.muid,a.billDate,a.itemCode,a.itemName,a.itemModel,a.custItemCode,a.custItemModel,a.unitName,a.qty,a.DefCustId,c.`name` as 'DefCustIdName',allCost,
        b.fid as 'ffid',b.entryId,b.cuid,b.itemCode as 'miditemCode',b.itemName as 'miditemName',b.itemModel as 'miditemModel',b.custItemCode as 'midcustItemCode',b.custItemModel as 'midcustItemModel',b.unitName,
        b.qty as 'midQty',b.taxPrice,b.taxAmt,case when b.defSuppId>0 then b.defSuppId else 0 end as 'defSuppId',d.`name` as 'DefSuppIdName'
        from t_bom a INNER JOIN t_bomentry b on a.fid = b.mid
        left join t_customer c on a.DefCustId = c.fid
        left join t_supplier d on b.DefSuppId = d.fid
        where 1=1
        <if test="data.billNo != null or data.billNo != ''">
            AND a.billNo like '%${data.billNo}%'
        </if>
        <if test="data.itemCode != null or data.itemCode != ''">
            and a.`itemcode` like '%${data.itemCode}%'
        </if>
        <if test="data.itemName != null or data.itemName != ''">
            and a.`itemName` like '%${data.itemName}%'
        </if>
        <if test="data.itemModel != null or data.itemModel != ''">
            and a.`itemmodel` like '%${data.itemModel}%'
        </if>
        <if test="data.muidFid.itemCode != null or data.muidFid.itemCode != ''">
            and b.`itemcode` like '%${data.muidFid.itemCode}%'
        </if>
        <if test="data.muidFid.itemName != null or data.muidFid.itemName != ''">
            and b.`itemname` like '%${data.muidFid.itemName}%'
        </if>
        <if test="data.muidFid.itemModel != null or data.muidFid.itemModel != ''">
            and b.`itemmodel` like '%${data.muidFid.itemModel}%'
        </if>
        <if test="data.DefCustId != null and data.DefCustId > 0">
            and a.DefCustId = #{data.DefCustId}
        </if>
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
        ORDER BY a.billNo,a.muid,b.entryId
    </select>

    <resultMap id="BomMap" type="com.myr.Bean.Bom">
        <id column="ffid" property="fid"/>
        <result column="billNo" property="billNo"/>
        <result column="muid" property="muid"/>
        <result column="billDate" property="billDate"/>
        <result column="itemCode" property="itemCode"/>
        <result column="itemName" property="itemName"/>
        <result column="itemModel" property="itemModel"/>
        <result column="custItemCode" property="custItemCode"/>
        <result column="custItemModel" property="custItemModel"/>
        <result column="unitName" property="unitName"/>
        <result column="qty" property="qty"/>
        <result column="defCustId" property="defCustId"/>
        <result column="artificialCost" property="materialCost"/>
        <result column="allCost" property="allCost"/>
        <result column="remark" property="remark"/>
        <result column="billStaf" property="billStaf"/>

        <collection property="muidFid" javaType="com.myr.Bean.Bomentry">
            <id column="fid" property="fid"/>
            <result column="cuid" property="cuid"/>
            <result column="entryId" property="entryId"/>
            <result column="miditemCode" property="itemCode"/>
            <result column="miditemName" property="itemName"/>
            <result column="miditemModel" property="itemModel"/>
            <result column="midcustItemCode" property="custItemCode"/>
            <result column="midcustItemModel" property="custItemModel"/>
            <result column="unitName" property="unitName"/>
            <result column="midQty" property="qty"/>
            <result column="taxPrice" property="taxPrice"/>
            <result column="taxAmt" property="taxAmt"/>

            <collection property="defSuppIdFid" javaType="com.myr.Bean.Supplier">
                <id column="defSuppId" property="fid"/>
                <result column="DefSuppIdName" property="name"/>
            </collection>
        </collection>

        <collection property="defCustIdFid" javaType="com.myr.Bean.Customer">
            <id column="DefCustId" property="fid"/>
            <result column="DefCustIdName" property="name"/>
        </collection>

    </resultMap>

    <resultMap id="Bom_grade_Map" type="com.myr.Bean.Bom">
        <id column="cuid" property="fid"/>
        <result column="billNo" property="billNo"/>
        <result column="muid" property="muid"/>
        <result column="billDate" property="billDate"/>
        <result column="itemCode" property="itemCode"/>
        <result column="itemName" property="itemName"/>
        <result column="itemModel" property="itemModel"/>
        <result column="custItemCode" property="custItemCode"/>
        <result column="custItemModel" property="custItemModel"/>
        <result column="unitName" property="unitName"/>
        <result column="qty" property="qty"/>
        <result column="defCustId" property="defCustId"/>
        <result column="artificialCost" property="materialCost"/>
        <result column="allCost" property="allCost"/>
        <result column="remark" property="remark"/>
        <result column="billStaf" property="billStaf"/>

        <collection property="muidFid" javaType="com.myr.Bean.Bomentry">
            <id column="cuid" property="fid"/>
            <result column="cuid" property="cuid"/>
            <result column="entryId" property="entryId"/>
            <result column="citemCode" property="itemCode"/>
            <result column="citemName" property="itemName"/>
            <result column="citemModel" property="itemModel"/>
            <result column="ccustItemCode" property="custItemCode"/>
            <result column="ccustItemModel" property="custItemModel"/>
            <result column="cunitName" property="unitName"/>
            <result column="nextmqty" property="mqty"/>
            <result column="cqty" property="qty"/>
            <result column="taxPrice" property="taxPrice"/>
            <result column="taxAmt" property="taxAmt"/>

        </collection>

    </resultMap>

    <delete id="delBom">
        delete a,b from t_bom a INNER JOIN t_bomentry b on a.fid = b.mid
        where a.fid = #{fid}
    </delete>

    <select id="Bom_isexit" resultType="int">
        select count(1) from t_bom where muid = #{muid} and fid not in (#{fid})
    </select>

    <select id="Bom_grade" resultMap="Bom_grade_Map">
        select * from v_bom_grade
        where muid = #{muid}
    </select>

    <update id="Bom_update">
        UPDATE `t_bom` SET `muid` = #{muid}, `itemCode` = #{itemCode}, `itemName` = #{itemName}, `itemModel` = #{itemModel}, `custItemCode` = #{custItemCode}, `custItemModel` = #{custItemModel}, `unitName` = #{unitName}, `qty` = #{qty}, `billDate` = #{billDate}, `DefCustId` = #{DefCustId}, `ArtificialCost` = #{ArtificialCost}, `materialCost` = #{materialCost}, `allCost` = #{allCost}, `remark` = #{remark}, `editDate` = now(), `billStaf` = #{billStaf}
        WHERE `fid` = #{fid};
    </update>

    <select id="getBomById" resultType="com.myr.Bean.Bom">
        select * from t_bom where fid = #{fid}
    </select>


</mapper>