<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.CurrencyTypeMapper">

    <!--1.添加客戶-->
    <insert id="add_CurrencyType">
        INSERT INTO t_currency_type(`fid`, `name`, `exchangeRate`, `remark`, `createDate`, `updateDate`, `fdisable`)
        VALUES
        (NULL, #{name}, #{exchangeRate}, #{remark}, now(), #{updateDate}, 0);
    </insert>

    <select id="CurrencyType_all" resultType="com.myr.Bean.CurrencyType">
        select * from t_currency_type where fdisable = 0
    </select>

    <!--合计总数-->
    <select id="getCounts_page" resultType="int">
        SELECT count(*) from t_currency_type where fdisable = 0 and (name like '%${str}%' or remark like '%${str}%')
    </select>

    <select id="CurrencyType_page" resultType="com.myr.Bean.CurrencyType">
        select * from t_currency_type where fdisable = 0 and (name like '%${str}%' or remark like '%${str}%')
            limit #{startpage},#{pagesize}
    </select>

    <delete id="del_CurrencyType">
        delete from t_currency_type where fid = #{fid}
    </delete>

    <select id="getCurrencyTypeById" resultType="com.myr.Bean.CurrencyType">
        select * from t_currency_type where fid = #{fid}
    </select>

    <update id="update_CurrencyType">
        UPDATE `t_currency_type` SET `name` = #{name}, `exchangeRate` = #{exchangeRate}, `remark` = #{remark}, `updateDate` = now()
        WHERE `fid` = #{fid};
     </update>

    <select id="isexits" resultType="integer">
        select case when count(*) >=1 then 1 else 0 end from t_currency_type where name = #{name}
        <if test="fid != null and fid !=''">
            and fid not in (#{fid})
        </if>
    </select>

</mapper>