<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.DepartmentMapper">

    <!--1.添加客戶-->
    <insert id="addDepartment">
        INSERT INTO t_department(`fid`, `code`, `name`, `staffId`, `remark`, `createDate`, `updateDate`, `fdisable`)
        VALUES
        (NULL, #{code}, #{name}, #{staffId}, #{remark}, now(), #{updateDate}, 0);
    </insert>

    <select id="depart_all" resultType="com.myr.Bean.Department">
        select a.*,b.`name` as 'staffIdName' from t_department a LEFT JOIN t_staff b on a.staffId = b.fid
        where a.fdisable = 0
    </select>

    <!--合计总数-->
    <select id="getCounts_page" resultType="int">
        select count(*) from t_department a LEFT JOIN t_staff b on a.staffId = b.fid
        where a.fdisable = 0 and (a.name like '%${str}%' or b.name like '%${str}%' or a.remark like '%${str}%')
    </select>

    <select id="Depat_page" resultType="com.myr.Bean.Department">
        select a.*,b.`name` as 'staffIdName' from t_department a LEFT JOIN t_staff b on a.staffId = b.fid
        where a.fdisable = 0 and (a.name like '%${str}%' or b.name like '%${str}%' or a.remark like '%${str}%')
            limit #{startpage},#{pagesize}
    </select>

    <delete id="delDepa">
        delete from t_department where fid = #{fid}
    </delete>

    <select id="getDepaById" resultType="com.myr.Bean.Department">
        select * from t_department where fid = #{fid}
    </select>

    <update id="updateDepa">
        UPDATE `t_department` SET `code` = #{code}, `name` = #{name}, `staffId` = #{staffId}, `remark` = #{remark}, `updateDate` = now()
        WHERE `fid` = #{fid};

    </update>

    <select id="isexits" resultType="integer">
        select case when count(*) >=1 then 1 else 0 end from t_department where name = #{name}
        <if test="fid != null and fid !=''">
            and fid not in (#{fid})
        </if>
    </select>


</mapper>