<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.IcstockbillMapper">

    <!--1.添加-->
    <insert id="addIcStockBill" useGeneratedKeys="true" keyProperty="fid">
        INSERT INTO `icstockbill`(`fid`, `billNo`, `billDate`, `suppId`, `billType`, `type`, `settId`, `currName`,
         `rate`, `address`, `contact`, `phone`, `remark`, `depaId`, `saleStaf`, `billStaf`, `editStaf`,
          `checkStaf`, `createDate`, `checkDate`, `state`)
          VALUES
          (null, #{billNo}, #{billDate}, #{suppId}, #{billType}, #{type}, #{settId}, #{currName},
          #{rate}, #{address}, #{contact}, #{phone}, #{remark}, #{depaId}, #{saleStaf}, #{billStaf}, #{editStaf},
           #{checkStaf}, now(), #{checkDate}, #{state});
    </insert>

    <!--1 是规则表中的 销售订单规则-->
    <select id="getICBillNo" resultType="String">
        SELECT GetBillNo(3,#{dates});
    </select>

    <!--合计总数-->
    <select id="getCounts" resultType="int">
        select count(*)
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        where a.billtype = '采购入库'
        <if test="str != null or str != ''">
            and (a.billNo like '%${str}%' or c.`name` like '%${str}%' or b.itemCode like '%${str}%' or b.itemModel like '%${str}%')
        </if>
	</select>

    <select id="IcStockBill_page" resultMap="IcStockBillMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.itemId,b.itemCode,b.itemName,b.itemModel,b.custItemCode,b.custItemModel,b.unitName,b.custOrderNum,b.qty,b.batchNumber,
        b.taxPrice,b.taxPriceNo,b.taxAmt,b.taxAmtNo,fcessAmt,b.rowRemark,b.sourFid,b.sourBillNo,b.sourEntryId,b.sourType,
        c.`name` as 'suppIdName' ,d.`name` as 'settIdName',e.name as 'depaIdName'
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        where a.billtype = '采购入库'
        <if test="str != null or str != ''">
            and (a.billNo like '%${str}%' or c.`name` like '%${str}%' or b.itemCode like '%${str}%' or b.itemModel like '%${str}%')
        </if>
        order by a.billDate desc,a.billNo desc,b.entryId
        limit #{startpage},#{pagesize}
    </select>

    <!--合计总数-->
    <select id="getCounts_saleout" resultType="int">
        select count(*)
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_customer c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        where a.billtype = '销售出库'
        <if test="str != null or str != ''">
            and (a.billNo like '%${str}%' or c.`name` like '%${str}%' or b.itemCode like '%${str}%' or b.itemModel like '%${str}%')
        </if>
    </select>

    <select id="IcStockBill_saleout_page" resultMap="IcStockBillMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.itemId,b.itemCode,b.itemName,b.itemModel,b.custItemCode,b.custItemModel,b.unitName,b.custOrderNum,b.qty,b.batchNumber,
        b.taxPrice,b.taxPriceNo,b.taxAmt,b.taxAmtNo,fcessAmt,b.rowRemark,b.sourFid,b.sourBillNo,b.sourEntryId,b.sourType,
        c.`name` as 'suppIdName' ,d.`name` as 'settIdName',e.name as 'depaIdName'
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_customer c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        where a.billtype = '销售出库'
        <if test="str != null or str != ''">
            and (a.billNo like '%${str}%' or c.`name` like '%${str}%' or b.itemCode like '%${str}%' or b.itemModel like '%${str}%')
        </if>
        order by a.billDate desc,a.billNo desc,b.entryId
        limit #{startpage},#{pagesize}
    </select>

    <select id="IcStockBill_pageGj" resultMap="IcStockBillMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.itemId,b.itemCode,b.itemName,b.itemModel,b.custItemCode,b.custItemModel,b.unitName,b.custOrderNum,b.qty,b.batchNumber,
        b.taxPrice,b.taxPriceNo,b.taxAmt,b.taxAmtNo,fcessAmt,b.rowRemark,b.sourFid,b.sourBillNo,b.sourEntryId,b.sourType,
        c.`name` as 'suppIdName' ,d.`name` as 'settIdName',e.name as 'depaIdName'
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        where a.billtype = #{data.billType}
        and a.billNo like '%${data.billNo}%'
        and b.custItemCode like '%${data.mid.custItemCode}%'
        and b.custItemModel like '%${data.mid.custItemModel}%'
        and b.itemCode like '%${data.mid.itemCode}%'
        and b.itemModel like '%${data.mid.itemModel}%'
        <if test="data.suppId != null and data.suppId >0">
            and a.suppId = #{data.suppId}
        </if>
        <if test="data.depaId != null and data.depaId >0">
            and a.depaId = #{data.depaId}
        </if>
        <if test="data.billStaf != null and data.billStaf >0">
            and a.billStaf = #{data.billStaf}
        </if>
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
    </select>

    <resultMap id="IcStockBillMap" type="com.myr.Bean.Icstockbill">
        <id column="ffid" property="fid"/>
        <result column="billNo" property="billNo"/>
        <result column="billDate" property="billDate"/>
        <result column="suppId" property="suppId"/>
        <result column="type" property="type"/>
        <result column="settId" property="settId"/>
        <result column="currName" property="currName"/>
        <result column="rate" property="rate"/>
        <result column="address" property="address"/>
        <result column="contact" property="contact"/>
        <result column="phone" property="phone"/>
        <result column="remark" property="remark"/>
        <result column="depaId" property="depaId"/>
        <result column="saleStaf" property="saleStaf"/>
        <result column="billStaf" property="billStaf"/>
        <result column="editStaf" property="editStaf"/>
        <result column="checkStaf" property="checkStaf"/>
        <result column="createDate" property="createDate"/>
        <result column="editDate" property="editDate"/>

        <!--订单体-->
        <collection property="mid" javaType="com.myr.Bean.Icstockbillentry">
            <id column="mid" property="fid"/>
            <result column="entryid" property="entryId"/>
            <result column="itemId" property="itemId"/>
            <result column="itemCode" property="itemCode"/>
            <result column="itemName" property="itemName"/>
            <result column="itemModel" property="itemModel"/>
            <result column="custItemCode" property="custItemCode"/>
            <result column="custItemModel" property="custItemModel"/>
            <result column="unitName" property="unitName"/>
            <result column="custOrderNum" property="custOrderNum"/>
            <result column="qty" property="qty"/>
            <result column="stockId" property="stockId"/>
            <result column="batchNumber" property="batchNumber"/>
            <result column="taxPrice" property="taxPrice"/>
            <result column="taxPriceNo" property="taxPriceNo"/>
            <result column="fcess" property="fcess"/>
            <result column="taxAmt" property="taxAmt"/>
            <result column="taxAmtNo" property="taxAmtNo"/>
            <result column="fcessAmt" property="fcessAmt"/>
            <result column="rowRemark" property="rowRemark"/>
            <result property="sourFid" column="sourFid"/>
            <result property="sourBillNo" column="sourBillNo"/>
            <result property="sourEntryId" column="sourEntryId"/>
            <result property="sourType" column="sourType"/>
            <result property="hxAmt" column="hxAmt"/>

        </collection>

        <!--供应商-->
        <collection property="suppIdFid" javaType="com.myr.Bean.Supplier">
            <id column="fid" property="fid"/>
            <result column="suppIdName" property="name"/>
            <result column="soQty" property="cust_type_id"/>
            <result column="ydzQty" property="department_id"/>
            <result column="stockName" property="abb"/>
            <result column="so_billNo" property="address"/>
        </collection>

        <!--结算方式-->
        <collection property="settIdFid" javaType="com.myr.Bean.SettlementMethod">
            <id column="fid" property="fid"/>
            <result column="settIdName" property="name"/>
        </collection>

        <!--部门-->
        <collection property="depaIdFid" javaType="com.myr.Bean.Department">
            <id column="fid" property="fid"/>
            <result column="depaIdName" property="name"/>
        </collection>

    </resultMap>

    <delete id="IcStockBill_del">
        delete a,b from icstockbill a inner JOIN icstockbillentry b on a.fid = b.mid
        where a.fid = #{fid}
    </delete>

    <select id="getIcStockBillById" resultType="com.myr.Bean.Icstockbill">
        select * from icstockbill where fid = #{fid}
    </select>

    <update id="IcStockBill_update">
        UPDATE `icstockbill` SET `billDate` = #{billDate}, `suppId` = #{suppId}, `type` = #{type}, `settId` = #{settId}, `currName` = #{currName}, `rate` = #{rate}, `address` = #{address}, `contact` = #{contact}, `phone` = #{phone}, `remark` = #{remark}, `depaId` = #{depaId}, `saleStaf` = #{saleStaf}, `billStaf` = #{billStaf}, `editStaf` = #{editStaf}, `checkStaf` = #{checkStaf}, `editDate` = now(), `state` = #{state}
        WHERE `fid` = #{fid};
    </update>

    <select id="getCounts_SaleOut_dz_sour" resultType="int">
        select
        count(*)
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_customer c on a.suppId = c.fid
        LEFT JOIN t_staff g on a.billStaf = g.fid
        left join t_store st on b.stockId = st.fid
        left join t_saleorderentry sa on b.sourFid = sa.mid and b.sourEntryId = sa.entryId and b.itemId = sa.itemId
        left join t_saleorder so on so.fid = sa.mid
        LEFT JOIN
        (
        select sourFid,sourEntryId,itemId,sum(saleOutQty) 'saleOutQty' from t_dz
        GROUP BY sourFid,sourEntryId,itemId
        )	i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId
        where a.billType = '销售出库'
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
        <if test="suppId != null and suppId > 0">
            and a.suppId = #{suppId}
        </if>
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or b.itemname like '%${cnm}%' or b.itemcode like '%${cnm}%' or b.itemmodel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.qty-IfNULL(i.saleOutQty,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.qty-i.saleOutQty&lt;=0
        </if>
    </select>

    <select id="SaleOut_dz_sour" resultMap="IcStockBillMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.entryid,b.itemId,b.itemcode,b.itemname,b.itemmodel,b.custitemcode,b.custitemmodel
        ,b.qty,b.stockId,b.unitName,b.custOrderNum,b.batchNumber,b.taxPrice,b.taxPriceNo,b.fcess,b.taxAmt,b.taxAmtNo,b.fcessAmt,
        b.rowRemark,c.`name` as 'suppIdName',sa.qty as 'soQty',i.saleOutQty as 'ydzQty',st.`name` as 'stockName',so.billNo as 'so_billNo'
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_customer c on a.suppId = c.fid
        LEFT JOIN t_staff g on a.billStaf = g.fid
        left join t_store st on b.stockId = st.fid
        left join t_saleorderentry sa on b.sourFid = sa.mid and b.sourEntryId = sa.entryId and b.itemId = sa.itemId
        left join t_saleorder so on so.fid = sa.mid
        LEFT JOIN
        (
        select sourFid,sourEntryId,itemId,sum(saleOutQty) 'saleOutQty' from t_dz
        GROUP BY sourFid,sourEntryId,itemId
        )	i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId
        where a.billType = '销售出库'
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
        <if test="suppId != null and suppId > 0">
            and a.suppId = #{suppId}
        </if>
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or b.itemname like '%${cnm}%' or b.itemcode like '%${cnm}%' or b.itemmodel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.qty-IfNULL(i.saleOutQty,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.qty-i.saleOutQty&lt;=0
        </if>
        order by b.mid desc,b.entryid asc
        limit #{startpage},#{pagesize}
    </select>

    <select id="getCounts_PurIn_dz_sour" resultType="int">
        select
        count(*)
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_staff g on a.billStaf = g.fid
        left join t_store st on b.stockId = st.fid
        left join t_poorderentry sa on b.sourFid = sa.mid and b.sourEntryId = sa.entryId and b.itemId = sa.itemId
        left join t_poorder so on so.fid = sa.mid
        LEFT JOIN t_dz i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId
        where a.billType = '采购入库'
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
        <if test="suppId != null and suppId > 0">
            and a.suppId = #{suppId}
        </if>
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or b.itemname like '%${cnm}%' or b.itemcode like '%${cnm}%' or b.itemmodel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.qty-IfNULL(i.saleOutQty,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.qty-i.saleOutQty&lt;=0
        </if>
    </select>

    <select id="PurIn_dz_sour" resultMap="IcStockBillMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.entryid,b.itemId,b.itemcode,b.itemname,b.itemmodel,b.custitemcode,b.custitemmodel
        ,b.qty,b.stockId,b.unitName,b.custOrderNum,b.batchNumber,b.taxPrice,b.taxPriceNo,b.fcess,b.taxAmt,b.taxAmtNo,b.fcessAmt,
        b.rowRemark,c.`name` as 'suppIdName',sa.qty as 'soQty',i.saleOutQty as 'ydzQty',st.`name` as 'stockName',so.billNo as 'so_billNo'
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_staff g on a.billStaf = g.fid
        left join t_store st on b.stockId = st.fid
        left join t_poorderentry sa on b.sourFid = sa.mid and b.sourEntryId = sa.entryId and b.itemId = sa.itemId
        left join t_poorder so on so.fid = sa.mid
        LEFT JOIN t_dz i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId
        where a.billType = '采购入库'
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
        <if test="suppId != null and suppId > 0">
            and a.suppId = #{suppId}
        </if>
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or b.itemname like '%${cnm}%' or b.itemcode like '%${cnm}%' or b.itemmodel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.qty-IfNULL(i.saleOutQty,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.qty-i.saleOutQty&lt;=0
        </if>
        order by b.mid desc,b.entryid asc
        limit #{startpage},#{pagesize}
    </select>

    <select id="getCounts_SK_sour" resultType="int">
        select
        count(*)
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_customer c on a.suppId = c.fid
        LEFT JOIN t_staff g on a.billStaf = g.fid
        left join t_store st on b.stockId = st.fid
        left join t_saleorderentry sa on b.sourFid = sa.mid and b.sourEntryId = sa.entryId and b.itemId = sa.itemId
        left join t_saleorder so on so.fid = sa.mid
        LEFT JOIN
        (
        select billType,sourFid,sourEntryId,itemId,sum(hxAmt) 'hxAmt' from t_sfk where billType = '收款单'
        GROUP BY billType,sourFid,sourEntryId,itemId
        ) i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId and i.billType = '收款单'
        where a.billType = '销售出库'
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
        <if test="suppId != null and suppId > 0">
            and a.suppId = #{suppId}
        </if>
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or b.itemname like '%${cnm}%' or b.itemcode like '%${cnm}%' or b.itemmodel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.taxAmt-IfNULL(i.hxAmt,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.taxAmt-i.hxAmt&lt;=0
        </if>
    </select>

    <select id="SK_sour" resultMap="IcStockBillMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.entryid,b.itemId,b.itemcode,b.itemname,b.itemmodel,b.custitemcode,b.custitemmodel
        ,b.qty,b.stockId,b.unitName,b.custOrderNum,b.batchNumber,b.taxPrice,b.taxPriceNo,b.fcess,b.taxAmt,b.taxAmtNo,b.fcessAmt,
        b.rowRemark,c.`name` as 'suppIdName',sa.qty as 'soQty',st.`name` as 'stockName',so.billNo as 'so_billNo',i.hxAmt
        from icstockbill a LEFT JOIN icstockbillentry b on a.fid = b.mid
        LEFT JOIN t_customer c on a.suppId = c.fid
        LEFT JOIN t_staff g on a.billStaf = g.fid
        left join t_store st on b.stockId = st.fid
        left join t_saleorderentry sa on b.sourFid = sa.mid and b.sourEntryId = sa.entryId and b.itemId = sa.itemId
        left join t_saleorder so on so.fid = sa.mid
        LEFT JOIN
         (
        select billType,sourFid,sourEntryId,itemId,sum(hxAmt) 'hxAmt' from t_sfk where billType = '收款单'
        GROUP BY billType,sourFid,sourEntryId,itemId
        ) i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId and i.billType = '收款单'
        where a.billType = '销售出库'
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
        <if test="suppId != null and suppId > 0">
            and a.suppId = #{suppId}
        </if>
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or b.itemname like '%${cnm}%' or b.itemcode like '%${cnm}%' or b.itemmodel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.taxAmt-IfNULL(i.hxAmt,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.taxAmt-i.hxAmt&lt;=0
        </if>
        order by b.mid desc,b.entryid asc
        limit #{startpage},#{pagesize}
    </select>
</mapper>