<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.ItemMapper">

    <!--1.添加客戶-->
    <insert id="addItem">
        INSERT INTO t_item
        (`fid`, `code`, `name`, `model`, `specs`, `parameter`, `custItemCode`, `custItemName`, `custItemModel`, `custItemSpecs`, `itemTypeId`, `purUnitId`, `saleUnitId`, `purPrice`, `salePrice`, `defaultSupplierId`, `defaultCustomerId`, `safeStock`, `defaultStorehouseId`, `isstock`, `depId`, `staffId`, `code1`, `code2`, `remark`, `createDate`,  `fdisable`)
        VALUES
        (NULL, #{code}, #{name}, #{model}, #{specs}, #{parameter}, #{custItemCode}, #{custItemName}, #{custItemModel}, #{custItemSpecs}, #{itemTypeId}, #{purUnitId}, #{saleUnitId}, #{purPrice}, #{salePrice}, #{defaultSupplierId}, #{defaultCustomerId}, #{safeStock}, #{defaultStorehouseId}, #{isstock}, #{depId}, #{staffId}, #{code1}, #{code2}, #{remark}, now(), 0);
    </insert>

    <select id="Item_page" resultType="com.myr.Bean.Item">
        SELECT a.*,i.`name` as 'staffIdName',h.`name` as 'depIdName',g.`name` as 'defaultStorehouseIdName',f.`name` as 'defaultCustomerIdName',
        e.`name` as 'defaultSupplierIdName',d.`name` as 'saleUnitIdName',c.`name` as 'purUnitIdName',b.`name` as 'itemTypeIdName' from t_item a
        left JOIN t_item_type b on a.itemTypeId = b.fid
        LEFT JOIN t_unit c on a.purUnitId = c.fid
        LEFT JOIN t_unit d on a.saleUnitId = d.fid
        LEFT JOIN t_supplier e on a.defaultSupplierId = e.fid
        LEFT JOIN t_customer f on a.defaultCustomerId = f.fid
        LEFT JOIN t_store g on a.defaultStorehouseId = g.fid
        LEFT JOIN t_department h on a.depId = h.fid
        LEFT JOIN t_staff i on a.staffId = i.fid
        where a.fdisable = 0 and (a.code like '%${str}%' or a.name like '%${str}%' or a.model like '%${str}%'
        or a.specs like '%${str}%' or a.parameter like '%${str}%' or a.custItemCode like '%${str}%'
        or a.custItemName like '%${str}%' or a.custItemModel like '%${str}%' or a.custItemSpecs like '%${str}%')
    </select>

    <select id="Item_pageGj" resultType="com.myr.Bean.Item">
        SELECT a.*,i.`name` as 'staffIdName',h.`name` as 'depIdName',g.`name` as 'defaultStorehouseIdName',f.`name` as 'defaultCustomerIdName',
        e.`name` as 'defaultSupplierIdName',d.`name` as 'saleUnitIdName',c.`name` as 'purUnitIdName',b.`name` as 'itemTypeIdName' from t_item a
        left JOIN t_item_type b on a.itemTypeId = b.fid
        LEFT JOIN t_unit c on a.purUnitId = c.fid
        LEFT JOIN t_unit d on a.saleUnitId = d.fid
        LEFT JOIN t_supplier e on a.defaultSupplierId = e.fid
        LEFT JOIN t_customer f on a.defaultCustomerId = f.fid
        LEFT JOIN t_store g on a.defaultStorehouseId = g.fid
        LEFT JOIN t_department h on a.depId = h.fid
        LEFT JOIN t_staff i on a.staffId = i.fid
        where a.fdisable = 0
        <if test="code != null and code !=''">
            and a.code like '%${code}%'
        </if>
        <if test="name != null and name !=''">
            and a.name like '%${name}%'
        </if>
        <if test="model != null and model !=''">
            and a.model like '%${model}%'
        </if>
        <if test="custItemCode != null and custItemCode !=''">
            and a.custItemCode like '%${custItemCode}%'
        </if>
        <if test="custItemName != null and custItemName !=-1">
            and a.custItemName like '%${custItemName}%'
        </if>
        <if test="custItemModel != null and custItemModel !=-1">
            and a.custItemModel like '%${custItemModel}%'
        </if>
        <if test="itemTypeId != null and itemTypeId !=-1">
            and a.itemTypeId = #{itemTypeId}
        </if>
        <if test="defaultStorehouseId != null and defaultStorehouseId !=-1">
            and a.defaultStorehouseId = #{defaultStorehouseId}
        </if>
        <if test="staffId != null and staffId !=-1">
            and a.staffId = #{staffId}
        </if>
        <if test="depId != null and depId !=-1">
            and a.depId = #{depId}
        </if>

    </select>

    <select id="ItemStock" resultType="com.myr.Bean.Item">
        select a.fid,a.code,a.name,a.model,a.specs,a.parameter,a.custItemCode,a.custItemName,a.custItemModel,a.custItemSpecs,aa.qty as 'code1',aa.taxprice as 'safeStock',
        i.`name` as 'staffIdName',h.`name` as 'depIdName',g.`name` as 'defaultStorehouseIdName',f.`name` as 'defaultCustomerIdName',
        e.`name` as 'defaultSupplierIdName',d.`name` as 'saleUnitIdName',c.`name` as 'purUnitIdName',b.`name` as 'itemTypeIdName'
        from v_itemstock aa LEFT JOIN t_item a on aa.itemId = a.fid
        left JOIN t_item_type b on a.itemTypeId = b.fid
        LEFT JOIN t_unit c on a.purUnitId = c.fid
        LEFT JOIN t_unit d on a.saleUnitId = d.fid
        LEFT JOIN t_supplier e on a.defaultSupplierId = e.fid
        LEFT JOIN t_customer f on a.defaultCustomerId = f.fid
        LEFT JOIN t_store g on a.defaultStorehouseId = g.fid
        LEFT JOIN t_department h on a.depId = h.fid
        LEFT JOIN t_staff i on a.staffId = i.fid
        where (a.code like '%${cnm}%' or a.name like '%${cnm}%' or a.model like '%${cnm}%')
        limit #{startpage},#{pagesize}
    </select>

    <select id="getCounts" resultType="int">
        SELECT count(*) from t_item a
        left JOIN t_item_type b on a.itemTypeId = b.fid
        LEFT JOIN t_unit c on a.purUnitId = c.fid
        LEFT JOIN t_unit d on a.saleUnitId = d.fid
        LEFT JOIN t_supplier e on a.defaultSupplierId = e.fid
        LEFT JOIN t_customer f on a.defaultCustomerId = f.fid
        LEFT JOIN t_store g on a.defaultStorehouseId = g.fid
        LEFT JOIN t_department h on a.depId = h.fid
        LEFT JOIN t_staff i on a.staffId = i.fid
        where a.fdisable = 0 and (a.code like '%${cnm}%' or a.name like '%${cnm}%' or a.model like '%${cnm}%')
    </select>

    <select id="Item_queryByCNM" resultType="com.myr.Bean.Item">
        SELECT a.*,i.`name` as 'staffIdName',h.`name` as 'depIdName',g.`name` as 'defaultStorehouseIdName',f.`name` as 'defaultCustomerIdName',
        e.`name` as 'defaultSupplierIdName',d.`name` as 'saleUnitIdName',c.`name` as 'purUnitIdName',b.`name` as 'itemTypeIdName' from t_item a
        left JOIN t_item_type b on a.itemTypeId = b.fid
        LEFT JOIN t_unit c on a.purUnitId = c.fid
        LEFT JOIN t_unit d on a.saleUnitId = d.fid
        LEFT JOIN t_supplier e on a.defaultSupplierId = e.fid
        LEFT JOIN t_customer f on a.defaultCustomerId = f.fid
        LEFT JOIN t_store g on a.defaultStorehouseId = g.fid
        LEFT JOIN t_department h on a.depId = h.fid
        LEFT JOIN t_staff i on a.staffId = i.fid
        where a.fdisable = 0 and (a.code like '%${cnm}%' or a.name like '%${cnm}%' or a.model like '%${cnm}%')
        limit #{startpage},#{pagesize}
    </select>

    <delete id="delItem">
        delete from t_item where fid = #{fid}
    </delete>

    <select id="getItemById" resultType="com.myr.Bean.Item">
        select * from t_item where fid = #{fid}
    </select>

    <update id="updateItem">
        UPDATE t_item SET `code` = #{code}, `name` = #{name}, `model` = #{model}, `specs` = #{specs},
        `parameter` = #{parameter}, `custItemCode` = #{custItemCode}, `custItemName` = #{custItemName},
        `custItemModel` = #{custItemModel}, `custItemSpecs` = #{custItemSpecs}, `itemTypeId` = #{itemTypeId},
        `purUnitId` = #{purUnitId}, `saleUnitId` = #{saleUnitId}, `purPrice` = #{purPrice}, `salePrice` = #{salePrice},
        `defaultSupplierId` = #{defaultSupplierId}, `defaultCustomerId` = #{defaultCustomerId}, `safeStock` = #{safeStock},
        `defaultStorehouseId` = #{defaultStorehouseId}, `isstock` = #{isstock}, `depId` = #{depId}, `staffId` = #{staffId},
        `code1` = #{code1}, `code2` = #{code2}, `remark` = #{remark}, `updateDate` = now()
        WHERE `fid` = #{fid};

    </update>

    <select id="isexits" resultType="integer">
        select case when count(*) >=1 then 1 else 0 end from t_item where code = #{code}
        <if test="fid != null and fid !=''">
            and fid not in (#{fid})
        </if>
    </select>


</mapper>