<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.PurOrderEntryMapper">

    <!--1.添加客戶-->
    <insert id="addPurOrderEntry">
        INSERT INTO `t_poorderentry`(`fid`, `mid`, `entryId`, `itemId`, `itemCode`, `itemName`, `itemModel`,
         `custItemCode`, `custItemModel`, `unitName`, `custOrderNum`, `finishDate`, `qty`, `batchNumber`,
          `taxPrice`, `taxPriceNo`, `fcess`, `taxAmt`, `taxAmtNo`, `fcessAmt`, `rowRemark`,
           `sourFid`, `sourBillNo`, `sourEntryId`, `sourType`)
          VALUES
          (null, #{mid}, #{entryId}, #{itemId}, #{itemCode}, #{itemName}, #{itemModel},
           #{custItemCode}, #{custItemModel}, #{unitName}, #{custOrderNum}, #{finishDate}, #{qty}, #{batchNumber},
            #{taxPrice}, #{taxPriceNo}, #{fcess},(#{taxPrice}*#{qty}), (#{taxPriceNo}*#{qty}),
             ( (#{taxPriceNo} *#{qty}) * (#{fcess}/100) ), #{rowRemark},
              #{sourFid}, #{sourBillNo}, #{sourEntryId}, #{sourType});
    </insert>

    <delete id="POentry_del">
        delete from t_poorderentry where mid = #{mid}
    </delete>

    <select id="getPOentryById" resultType="com.myr.Bean.Poorderentry">
        select * from t_poorderentry where mid = #{mid}
    </select>

</mapper>