<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.PurOrderMapper">

    <!--1.添加-->
    <insert id="addPurOrder" useGeneratedKeys="true" keyProperty="fid">
        INSERT INTO `t_poorder`(`fid`, `billNo`, `billDate`, `suppId`, `type`, `settId`, `currName`, `rate`,
         `address`, `contact`, `phone`, `remark`, `depaId`, `depaStaff`, `billStaf`, `createDate`)
        VALUES
        (null, #{billNo}, #{billDate}, #{suppId}, #{type}, #{settId}, #{currName}, #{rate},
         #{address}, #{contact}, #{phone}, #{remark}, #{depaId}, #{depaStaff}, #{billStaf}, now());
    </insert>

    <!--1 是规则表中的 销售订单规则-->
    <select id="getBillNo" resultType="String">
        SELECT GetBillNo(2,#{dates});
    </select>

    <select id="getCounts" resultType="int">
        select count(*)
        from t_poorder a LEFT JOIN t_poorderentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        LEFT JOIN icstockbillentry i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId
        where 1=1
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or d.name like '%${cnm}%' or c.`name` like '%${cnm}%' or b.itemName like '%${cnm}%' or b.itemCode like '%${cnm}%' or b.itemModel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.qty-IfNULL(i.qty,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.qty-i.qty&lt;=0
        </if>
    </select>

    <select id="getCounts_index" resultType="int">
        select count(*)
        from t_poorder a LEFT JOIN t_poorderentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        <if test="str != null or str != ''">
            where (a.billNo like '%${str}%' or c.`name` like '%${str}%' or b.itemCode like '%${str}%' or b.itemModel like '%${str}%')
        </if>
    </select>

    <select id="PurOrder_sour" resultMap="PurOrderMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.entryId,b.itemId,b.itemCode,b.itemName,b.itemModel,b.custItemCode,b.custItemModel,b.unitName,b.custOrderNum,b.finishDate,b.qty,b.batchNumber,
        b.taxPrice,b.taxPriceNo,b.rowRemark,b.sourFid,b.sourBillNo,b.sourEntryId,b.sourType,
        c.`name` as 'suppIdName' ,d.`name` as 'settIdName',e.name as 'depaIdName',i.qty as 'icsQty',
        h.defaultStorehouseId as 'stockId', h.name as 'stockName'
        from t_poorder a LEFT JOIN t_poorderentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        LEFT JOIN icstockbillentry i on b.mid = i.sourFid and b.entryId = i.sourEntryId and b.itemId = i.itemId
        left join (
        select a.fid,a.defaultStorehouseId,b.`name` from t_item a left join t_store b on a.defaultStorehouseId = b.fid
        ) h on b.itemId = h.fid
        where 1=1
        <if test="suppId != null and suppId > 0">
            and a.suppId = #{suppId}
        </if>
        <if test="cnm != null or cnm != ''">
            and (a.billNo like '%${cnm}%' or d.name like '%${cnm}%' or c.`name` like '%${cnm}%' or b.itemName like '%${cnm}%' or b.itemCode like '%${cnm}%' or b.itemModel like '%${cnm}%')
        </if>
        <if test="range != null and range == 1">
            and b.qty-IfNULL(i.qty,0) > 0
        </if>
        <if test="range != null and range == 2">
            and b.qty-i.qty&lt;=0
        </if>
        limit #{startpage},#{pagesize}
    </select>

    <select id="PurOrder_page" resultMap="PurOrderMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.itemId,b.itemCode,b.itemName,b.itemModel,b.custItemCode,b.custItemModel,b.unitName,b.custOrderNum,b.finishDate,b.qty,b.batchNumber,
        b.taxPrice,b.taxPriceNo,b.rowRemark,b.sourFid,b.sourBillNo,b.sourEntryId,b.sourType,
        c.`name` as 'suppIdName' ,d.`name` as 'settIdName',e.name as 'depaIdName'
        from t_poorder a LEFT JOIN t_poorderentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        <if test="str != null or str != ''">
            where (a.billNo like '%${str}%' or c.`name` like '%${str}%' or b.itemCode like '%${str}%' or b.itemModel like '%${str}%')
        </if>
        order by a.billDate desc,a.billNo desc,b.entryId
        limit #{startpage},#{pagesize}
    </select>

    <select id="PurOrder_pageGj" resultMap="PurOrderMap">
        select
        a.*,b.fid as 'ffid',
        b.mid,b.itemId,b.itemCode,b.itemName,b.itemModel,b.custItemCode,b.custItemModel,b.unitName,b.custOrderNum,b.finishDate,b.qty,b.batchNumber,
        b.taxPrice,b.taxPriceNo,b.rowRemark,b.sourFid,b.sourBillNo,b.sourEntryId,b.sourType,
        c.`name` as 'suppIdName' ,d.`name` as 'settIdName',e.name as 'depaIdName'
        from t_poorder a LEFT JOIN t_poorderentry b on a.fid = b.mid
        LEFT JOIN t_supplier c on a.suppId = c.fid
        LEFT JOIN t_settlement_method d on a.settId = d.fid
        LEFT JOIN t_department e on a.depaId = e.fid
        where a.billNo like '%${data.billNo}%'
        and b.custItemCode like '%${data.mid.custItemCode}%'
        and b.custItemModel like '%${data.mid.custItemModel}%'
        and b.itemCode like '%${data.mid.itemCode}%'
        and b.itemModel like '%${data.mid.itemModel}%'
        <if test="data.suppId != null and data.suppId >0">
            and a.suppId = #{data.suppId}
        </if>
        <if test="data.depaId != null and data.depaId >0">
            and a.depaId = #{data.depaId}
        </if>
        <if test="data.billStaf != null and data.billStaf >0">
            and a.billStaf = #{data.billStaf}
        </if>
        <if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
            and a.billDate between #{date_start} and #{date_end}
        </if>
    </select>

    <resultMap id="PurOrderMap" type="com.myr.Bean.Poorder">
        <id column="ffid" property="fid"/>
        <result column="billNo" property="billNo"/>
        <result column="billDate" property="billDate"/>
        <result column="suppId" property="suppId"/>
        <result column="type" property="type"/>
        <result column="settId" property="settId"/>
        <result column="currName" property="currName"/>
        <result column="rate" property="rate"/>
        <result column="address" property="address"/>
        <result column="contact" property="contact"/>
        <result column="phone" property="phone"/>
        <result column="remark" property="remark"/>
        <result column="depaId" property="depaId"/>
        <result column="depaStaff" property="depaStaff"/>
        <result column="billStaf" property="billStaf"/>
        <result column="editStaf" property="editStaf"/>
        <result column="checkStaf" property="checkStaf"/>
        <result column="createDate" property="createDate"/>
        <result column="editDate" property="editDate"/>

        <!--订单体-->
        <collection property="mid" javaType="com.myr.Bean.Poorderentry">
            <id column="mid" property="fid"/>
            <result column="entryId" property="entryId"/>
            <result column="itemId" property="itemId"/>
            <result column="itemCode" property="itemCode"/>
            <result column="itemName" property="itemName"/>
            <result column="itemModel" property="itemModel"/>
            <result column="custItemCode" property="custItemCode"/>
            <result column="custItemModel" property="custItemModel"/>
            <result column="unitName" property="unitName"/>
            <result column="custOrderNum" property="custOrderNum"/>
            <result column="finishDate" property="finishDate"/>
            <result column="qty" property="qty"/>
            <result column="batchNumber" property="batchNumber"/>
            <result column="taxPrice" property="taxPrice"/>
            <result column="taxPriceNo" property="taxPriceNo"/>
            <result column="fcess" property="fcess"/>
            <result column="taxAmt" property="taxAmt"/>
            <result column="taxAmtNo" property="taxAmtNo"/>
            <result column="fcessAmt" property="fcessAmt"/>
            <result column="rowRemark" property="rowRemark"/>
            <result property="sourFid" column="sourFid"/>
            <result property="sourBillNo" column="sourBillNo"/>
            <result property="sourEntryId" column="sourEntryId"/>
            <result property="sourType" column="sourType"/>
            <result property="icsQty" column="icsQty"/>

        </collection>

        <!--供应商-->
        <collection property="suppIdFid" javaType="com.myr.Bean.Supplier">
            <id column="fid" property="fid"/>
            <result column="suppIdName" property="name"/>
        </collection>

        <!--结算方式-->
        <collection property="settIdFid" javaType="com.myr.Bean.SettlementMethod">
            <id column="fid" property="fid"/>
            <result column="settIdName" property="name"/>
        </collection>

        <!--部门-->
        <collection property="depaIdFid" javaType="com.myr.Bean.Department">
            <id column="fid" property="fid"/>
            <result column="depaIdName" property="name"/>
        </collection>

        <!--仓库 item默认仓库-->
        <collection property="stockId" javaType="com.myr.Bean.Store">
            <id column="stockId" property="fid"/>
            <result column="stockName" property="name"/>
        </collection>

    </resultMap>

    <delete id="PurOrder_del">
        delete a,b from t_poorder a INNER JOIN t_poorderentry b on a.fid = b.mid
        where a.fid = #{fid}
    </delete>

    <select id="getPurById" resultType="com.myr.Bean.Poorder">
        select * from t_poorder where fid = #{fid}
    </select>

    <update id="PurOrder_update">
        UPDATE `t_poorder` SET `billDate` = #{billDate}, `suppId` = #{suppId}, `type` = #{type}, `settId` = #{settId}, `currName` = #{currName}, `rate` = #{rate}, `address` = #{address}, `contact` = #{contact}, `phone` = #{phone}, `remark` = #{remark}, `depaId` = #{depaId}, `depaStaff` = #{depaStaff}, `billStaf` = #{billStaf}, `editStaf` = #{editStaf}, `editDate` = now()
        WHERE `fid` = #{fid};
    </update>


</mapper>