<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.mrp.BackMaterMapper">

	<!--添加-->
	<insert id="add_BackMater">
		INSERT INTO `mrp_backmater`
	(`fid`, `billNo`, `billDate`, `custId`, `entryId`, `itemId`, `custOrderNum`, `finishDate`,
	`qty`, `batchNumber`, `taxPrice`, `taxPriceNo`, `fcess`, `taxAmt`, `taxAmtNo`, `fcessAmt`,
	`fdisable`, `remark`, `rowRemark`, `finish_qty`, `finish_static`, `sourFid`, `sourBillNo`,
	`sourEntryId`, `sourType`, `billStaf`, `createDate`)
	VALUES
	(null, #{billNo}, #{billDate}, #{custId.fid}, #{entryId}, #{itemId.fid}, #{custOrderNum}, #{finishDate},
	 #{qty}, #{batchNumber}, #{taxPrice}, #{taxPriceNo}, #{fcess}, (#{taxPrice}*#{qty}), ( #{taxPriceNo} *#{qty}), ( (#{taxPriceNo} *#{qty}) * (#{fcess}/100) ),
	  #{fdisable}, #{remark}, #{rowRemark}, #{finishQty}, #{finishStatic}, #{sourFid}, #{sourBillNo},
	   #{sourEntryId}, #{sourType}, #{billStaf}, now());
	</insert>

	<!--获取单号-->
	<select id="getBillNo" resultType="String">
        SELECT GetBillNo(6,#{date});
    </select>

	<!--合计总数-->
	<select id="getCounts" resultType="int">
		select count(*) from mrp_backmater a
		left join t_item b on a.itemId = b.fid
		left join t_customer c on a.custId = c.fid
		where  a.billNo like '%${cnm}%' or c.name like '%${cnm}%' or b.code like '%${cnm}%' or b.model like '%${cnm}%'
		order by billDate desc,billNo desc,entryId
	</select>

	<select id="BackMater_page" resultMap="BackMaterMap">
        select a.fid,a.billNo,a.billDate,a.custId,c.`name` as 'custIdName',a.itemId,b.`code` as 'itemIdCode',b.`name` as 'itemIdName',b.model as 'itemIdModel',b.custItemCode,b.custItemName,a.custOrderNum,a.finishDate,a.qty,a.finish_qty,a.taxPrice,a.remark
		from mrp_backmater a left join t_item b on a.itemId = b.fid left join t_customer c on a.custId = c.fid
		where a.billNo like '%${cnm}%' or c.name like '%${cnm}%' or b.code like '%${cnm}%' or b.name like '%${cnm}%' or b.model like '%${cnm}%'
		order by billDate desc,billNo desc,entryId
		limit #{startpage},#{pagesize}
	</select>

	<resultMap id="BackMaterMap" type="com.myr.Bean.MrpBackmater">
		<id column="fid" property="fid"/>
		<result column="billNo" property="billNo"/>
		<result column="billDate" property="billDate"/>
		<result column="entryId" property="entryId"/>
		<result column="custOrderNum" property="custOrderNum"/>
		<result column="batchNumber" property="batchNumber"/>
		<result column="finishDate" property="finishDate"/>
		<result column="qty" property="qty"/>
		<result column="finish_qty" property="finishQty"/>
		<result column="taxPrice" property="taxPrice"/>
		<result column="taxAmt" property="taxAmt"/>
		<result column="remark" property="remark"/>
		<result column="rowRemark" property="rowRemark"/>
		<result column="billStaf" property="billStaf"/>
		<result column="sourFid" property="sourFid"/>
		<result column="sourBillNo" property="sourBillNo"/>
		<result column="sourEntryId" property="sourEntryId"/>
		<result column="sourType" property="sourType"/>

		<!--客户-->
		<collection property="custId" javaType="com.myr.Bean.Customer">
			<id column="custId" property="fid"/>
			<result column="custIdName" property="name"/>
		</collection>

		<!--item-->
		<collection property="itemId" javaType="com.myr.Bean.Item">
			<id column="itemId" property="fid"></id>
			<result column="itemIdCode" property="code"></result>
			<result column="itemIdName" property="name"></result>
			<result column="itemIdModel" property="model"></result>
			<result column="custItemCode" property="custItemCode"></result>
			<result column="custItemName" property="custItemName"></result>
			<result column="custItemModel" property="custItemModel"></result>

			<!--单位-->
			<association property="saleUnitIdFid" javaType="com.myr.Bean.Unit">
				<id column="fid" property="fid"/>
				<result column="unitName" property="name"/>
			</association>
		</collection>

		<!--职员 部门负责人-->
		<!--<collection property="billStaf" javaType="com.myr.Bean.Staff">
			<id column="billStaf" property="fid"/>
		</collection>-->

		<!--&lt;!&ndash;部门&ndash;&gt;
		<collection property="depIdFid" javaType="com.myr.Bean.Department">
			<id column="fid" property="fid"/>
			<result column="depIdName" property="name"/>
		</collection>

		&lt;!&ndash;职员 制单人&ndash;&gt;
		<collection property="billStaffIdFid" javaType="com.myr.Bean.Staff">
			<id column="fid" property="fid"/>
			<result column="billStaffIdName" property="name"/>
		</collection>

		&lt;!&ndash;仓库 item默认仓库&ndash;&gt;
		<collection property="stockId" javaType="com.myr.Bean.Store">
			<id column="stockId" property="fid"/>
			<result column="stockName" property="name"/>
		</collection>-->
	</resultMap>

	<select id="getBackMaterById" resultMap="BackMaterMap">
		select a.*,b.`code` as 'itemIdCode',b.`name` as 'itemIdName',b.model as 'itemIdModel',
		       b.custItemCode as 'custItemCode',b.custItemModel as 'custItemModel',
		       c.`name` as 'unitName'
		from mrp_backmater a LEFT JOIN t_item b on a.itemId = b.fid
							   LEFT JOIN t_unit c on b.purUnitId = c.fid
		where billNo = (select billNo from mrp_backmater where fid = #{mid})
		order by a.billno,entryId
	</select>

	<delete id="delBackMater">
		DELETE from mrp_backmater
		where billNo = #{billNo}
	</delete>



</mapper>