<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.mrp.PurReqMapper">

	<!--添加-->
	<insert id="add_PurReq">
		INSERT INTO `mrp_pur_req`
	(`fid`, `billNo`, `billDate`, `mrpNo`,`entryId`, `itemId`, `custOrderNum`, `finishDate`,
	`qty`, `batchNumber`, `taxPrice`, `taxPriceNo`, `fcess`, `taxAmt`, `taxAmtNo`, `fcessAmt`,
	`fdisable`, `remark`, `rowRemark`, `finish_qty`, `finish_static`, `sourFid`, `sourBillNo`,
	`sourEntryId`, `sourType`, `billStaf`, `createDate`)
	VALUES
	(null, #{billNo}, #{billDate}, #{mrpNo}, #{entryId}, #{itemId.fid}, #{custOrderNum}, #{finishDate},
	 #{qty}, #{batchNumber}, #{taxPrice}, #{taxPriceNo}, #{fcess}, (#{taxPrice}*#{qty}), ( #{taxPriceNo} *#{qty}), ( (#{taxPriceNo} *#{qty}) * (#{fcess}/100) ),
	  #{fdisable}, #{remark}, #{rowRemark}, #{finishQty}, #{finishStatic}, #{sourFid}, #{sourBillNo},
	   #{sourEntryId}, #{sourType}, #{billStaf}, now());
	</insert>

	<!--获取单号-->
	<select id="getBillNo" resultType="String">
        SELECT GetBillNo(5,#{date});
    </select>

	<!--合计总数-->
	<select id="getCounts" resultType="int">
		select count(*)
		from mrp_pur_req a left join t_item b on a.itemId = b.fid
		left join t_unit c on b.purUnitId = c.fid
		where a.billNo like '%${cnm}%' or b.code like '%${cnm}%' or b.name like '%${cnm}%' or b.model like '%${cnm}%'

	</select>

	<!--合计总数-->
	<select id="getCounts_sour" resultType="int">
		select count(*)
		from mrp_pur_req a left join t_item b on a.itemId = b.fid
		LEFT JOIN t_unit c on b.purUnitId = c.fid
		where 1=1
		<if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
			and a.billDate between #{date_start} and #{date_end}
		</if>
		<if test="cnm != null or cnm != ''">
			and (a.billNo like '%${cnm}%' or b.code like '%${cnm}%' or b.name like '%${cnm}%' or b.model like '%${cnm}%')
		</if>
		<if test="range != null and range == 1">
			and a.qty-IfNULL(a.finish_qty,0) > 0
		</if>
		<if test="range != null and range == 2">
			and a.qty-a.finish_qty&lt;=0
		</if>
	</select>

	<!--序时簿-->
	<select id="PurReq_page" resultMap="PurReqMap">
		select a.*,b.code as 'itemIdCode',b.`name` as 'itemIdName',b.model as 'itemIdModel',b.custItemCode,b.custItemName,b.custItemModel,c.`name` as 'unitName'
		from mrp_pur_req a left join t_item b on a.itemId = b.fid
		left join t_unit c on b.purUnitId = c.fid
		where a.billNo like '%${cnm}%' or b.code like '%${cnm}%' or b.name like '%${cnm}%' or b.model like '%${cnm}%'
		order by billDate desc,billNo desc,entryId
		limit #{startpage},#{pagesize}
	</select>

	<resultMap id="PurReqMap" type="com.myr.Bean.MrpPurReq">
		<id column="fid" property="fid"/>
		<result column="billNo" property="billNo"/>
		<result column="billDate" property="billDate"/>
		<result column="mrpNo" property="mrpNo"/>
		<result column="entryId" property="entryId"/>
		<result column="custOrderNum" property="custOrderNum"/>
		<result column="batchNumber" property="batchNumber"/>
		<result column="finishDate" property="finishDate"/>
		<result column="qty" property="qty"/>
		<result column="finish_qty" property="finishQty"/>
		<result column="taxPrice" property="taxPrice"/>
		<result column="taxAmt" property="taxAmt"/>
		<result column="remark" property="remark"/>
		<result column="rowRemark" property="rowRemark"/>
		<result column="billStaf" property="billStaf"/>
		<result column="icsQty" property="icsQty"/>
		<result column="sourFid" property="sourFid"/>
		<result column="sourBillNo" property="sourBillNo"/>
		<result column="sourEntryId" property="sourEntryId"/>
		<result column="sourType" property="sourType"/>

		<!--item-->
		<collection property="itemId" javaType="com.myr.Bean.Item">
			<id column="itemId" property="fid"></id>
			<result column="itemIdCode" property="code"></result>
			<result column="itemIdName" property="name"></result>
			<result column="itemIdModel" property="model"></result>
			<result column="custItemCode" property="custItemCode"></result>
			<result column="custItemName" property="custItemName"></result>
			<result column="custItemModel" property="custItemModel"></result>
			<result column="unitName" property="purUnitIdName"></result>

			<!--销售单位-->
			<association property="saleUnitIdFid" javaType="com.myr.Bean.Unit">
				<id column="fid" property="fid"/>
				<result column="unitName" property="name"/>
			</association>
		</collection>

		<!--职员 部门负责人-->
		<!--<collection property="billStaf" javaType="com.myr.Bean.Staff">
			<id column="staffId" property="fid"/>
		</collection>-->

		<!--&lt;!&ndash;部门&ndash;&gt;
		<collection property="depIdFid" javaType="com.myr.Bean.Department">
			<id column="fid" property="fid"/>
			<result column="depIdName" property="name"/>
		</collection>

		&lt;!&ndash;职员 制单人&ndash;&gt;
		<collection property="billStaffIdFid" javaType="com.myr.Bean.Staff">
			<id column="fid" property="fid"/>
			<result column="billStaffIdName" property="name"/>
		</collection>

		&lt;!&ndash;仓库 item默认仓库&ndash;&gt;
		<collection property="stockId" javaType="com.myr.Bean.Store">
			<id column="stockId" property="fid"/>
			<result column="stockName" property="name"/>
		</collection>-->
	</resultMap>

	<!--2021-09-28 mrp_pur_req触发  t_poorderentry的合计-->
	<select id="MrpPurReq_sour" resultMap="PurReqMap">
		select a.*,b.code 'itemIdCode',b.name 'itemIdName',b.model 'itemIdModel',b.custItemCode,b.custItemName,b.custItemModel, c.`name` 'unitName'
		from mrp_pur_req a left join t_item b on a.itemId = b.fid
		LEFT JOIN t_unit c on b.purUnitId = c.fid
		where 1=1
		<if test="(date_start != null and date_start !='') or (date_end != null and date_end !='')">
			and a.billDate between #{date_start} and #{date_end}
		</if>
		<if test="cnm != null or cnm != ''">
			and (a.billNo like '%${cnm}%' or b.code like '%${cnm}%' or b.name like '%${cnm}%' or b.model like '%${cnm}%')
		</if>
		<if test="range != null and range == 1">
			and a.qty-IfNULL(a.finish_qty,0) > 0
		</if>
		<if test="range != null and range == 2">
			and a.qty-a.finish_qty&lt;=0
		</if>
		order by a.billNo desc,a.entryId
		limit #{startpage},#{pagesize}
	</select>

	<select id="getPurReqById" resultMap="PurReqMap">
		select a.*,b.`code` as 'itemIdCode',b.`name` as 'itemIdName',b.model as 'itemIdModel',
		       b.custItemCode as 'custItemCode',b.custItemModel as 'custItemModel',
		       c.`name` as 'unitName'
		from mrp_pur_req a LEFT JOIN t_item b on a.itemId = b.fid
							   LEFT JOIN t_unit c on b.purUnitId = c.fid
		where billNo = (select billNo from mrp_pur_req where fid = #{fid})
		order by a.billno,entryId
	</select>

	<delete id="delPurReq">
		DELETE from mrp_pur_req
		where billNo = #{billNo}
	</delete>




</mapper>