<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/erp/style/js/jquery.min.js"></script>
<script src="/erp/style/js/bootstrap.min.js"></script>
<link href="/erp/style/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	//主页的项目名
	var path = $(window.parent.document.body).find("#path").val();

	function navcut(obj,infoid){
		//1.移除活动 隐藏模块
		$(".nav-tabs li").removeClass('active');
		$(".panel-infos").hide();
		//2.显示对象 显示模块
		$(obj).addClass('active');
		$("#"+infoid).show();
	}

	function isexits(){
		var oldname = [[${data.name}]];
		var name = $("input[name='name']").val();
		var fid = $("input[name='fid']").val();
		var f = {name:name,fid:fid};

		$.ajax({
			url:"/erp/Cust_isexits",
			data:f,
			type:"post",
			async: false,//同步请求
			dataType:"json",
			success:function(result){
				if(result.code==-3){
					alert("已存在该名称!");
					$("input[name='name']").val("");
					//光标回到input框
				}
				//alert(JSON.stringify(result));
			}
		});
	}

	//三位正整数判断
	function checkNum(obj){
		var value = obj.value;
		var re = /^[1-9]{1}[0-9]*$/;//正整数
		if(!re.test(value)){
			obj.value=0;
			alert("请输入正整数！");
		}
	}

	//表单效验
	function fromcheck(){

		var nameval = $("input[name='name']").val();
		if(nameval==""||nameval==null){
			alert("请输入正确的名称！(必填项)");
			return false;
		}

		//提交表单
		var f = $("#f1").serialize();
		$.ajax({
			url:"/erp/CustomerCrm_update",
			data:f,
			type:"post",
			dataType:"json",
			success:function(result){
				if(result.code==200){
					alert("更新成功！");
					window.parent.closemodel('1202103');
				}else if(result.code==-3){
					alert("已存在，请确定后再添加!");
					window.parent.closemodel('1202103');
				}else if(result.code==500){
					alert("更新失败!");
				}
				//alert(JSON.stringify(result));
			}
		});

	}

	//启动加载
	$(function (){
		//select name="cust_type_id" select name="settlement_method_id"
		//select name="department_id" select name="staff_id"
		//客户类型
		$.ajax({
			url:"/erp/CustType_all/1",
			type:"post",
			dataType:"json",
			success:function (result) {
				//alert(JSON.stringify(result));

				var cust_type_id = [[${data.cust_type_id}]];
				//alert(cust_type_id);
				for(var i=0;i<result.length;i++){
					if(cust_type_id == result[i].fid){
						$("select[name='cust_type_id']").append("<option selected value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}else{
						$("select[name='cust_type_id']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}

				}

			}
		});

		//部门
		$.ajax({
			url:"/erp/Depart_all",
			type:"post",
			dataType:"json",
			success:function (result) {
				//alert(JSON.stringify(result));

				var department_id = [[${data.department_id}]];
				for(var i=0;i<result.length;i++){
					if(department_id == result[i].fid){
						$("select[name='department_id']").append("<option selected value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}else{
						$("select[name='department_id']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}

				}

			}
		});

		//职员
		$.ajax({
			url:"/erp/Staff_all",
			type:"post",
			dataType:"json",
			success:function (result) {
				//alert(JSON.stringify(result));

				var staff_id = [[${data.staff_id}]];
				for(var i=0;i<result.length;i++){
					if(staff_id == result[i].fid){//选择的选项回显
						$("select[name='staff_id']").append("<option selected value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}else {
						$("select[name='staff_id']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}

				}

			}
		});

		//结算方式
		$.ajax({
			url:"/erp/SettMethod_all",
			type:"post",
			dataType:"json",
			success:function (result) {
				//alert(JSON.stringify(result));

				var settlement_method_id = [[${data.settlement_method_id}]];
				for(var i=0;i<result.length;i++){
					if(settlement_method_id == result[i].fid){
						$("select[name='settlement_method_id']").append("<option selected value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}else{
						$("select[name='settlement_method_id']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}
				}

			}
		});
	});
</script>

<style type="text/css">

	body{
		background-color:#FCFCFC;
	}
	
	.panel-body{
		padding-top:0px;
	}
	
	.input-group{
		margin-right:35px;
		margin-top:15px;
		width:250px;
		float:left;
	}
	
	.list-group-item{
		padding:5px 10px;
	}
	
	.list-group{
		float:left;
		margin-right:100px;
	}
	
	
</style>

<title>客户-编辑</title>
</head>
<body>


<div class="panel panel-info">
	<div class="panel-heading">
		<b>客户管理-新增</b>
		<div class="btn-group btn-group-sm p" role="group" aria-label="..." style="float:right;">
			<button type="button" onclick="fromcheck()" class="btn btn-default">提交</button>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Other
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">提交并审核</a></li>
					<li><a href="#">提交并新建</a></li>
				</ul>
			</div>
		</div>
		
	</div>

	<form method="post" action="CustType_add" id="f1">
		<input type="hidden" name="fid" th:value="${data.fid}">

		<div class="panel-body">

			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button"><span class="glyphicon glyphicon-star" style="color:red;"></span>名称</button>
				 </span>
				<input type="text" name="name" th:value="${data.name}" onchange="isexits()" class="form-control" placeholder="NAME" aria-describedby="basic-addon1">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">简称</button>
				 </span>
				<input type="text" name="abb" th:value="${data.abb}" class="form-control" placeholder="ABB" aria-describedby="basic-addon1">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">主要承运路线</button>
				 </span>
				<input type="text" name="zycylx" th:value="${data.zycylx}" class="form-control" placeholder="route" aria-describedby="basic-addon1">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">主要承运产品</button>
				 </span>
				<input type="text" name="zycycp" th:value="${data.zycycp}" class="form-control" placeholder="produte" aria-describedby="basic-addon1">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">编码</button>
				 </span>
				<input type="text" name="code" th:value="${data.code}" class="form-control" placeholder="CODE" aria-describedby="basic-addon1">
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">类型</button>
				 </span>
				<select name="cust_type_id" class="selectpicker show-tick form-control form-control-lg" data-live-search="true" data-actions-box="true">
				　　<option value="-1">-- --</option>
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">部门</button>
				 </span>
				<select name="department_id" class="selectpicker show-tick form-control form-control-lg" data-live-search="true" data-actions-box="true">
					　　<option value="-1">-- --</option>
				</select>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">业务员</button>
				 </span>
				<select name="staff_id" class="selectpicker show-tick form-control form-control-lg" data-live-search="true" data-actions-box="true">
					<option value="-1">-- --</option>
				</select>
			</div>

		</div>
		
		
		<div class="panel panel-default">
			<div class="panel-heading">辅助信息</div>
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li role="presentation" onclick="navcut(this,'contact')" class="active"><a href="#">联系方式</a></li>
					<li role="presentation" onclick="navcut(this,'currency')"><a href="#">货币信息</a></li>
					<li role="presentation" onclick="navcut(this,'otherinfo')"><a href="#">其他</a></li>
				</ul>
				
				<BR>
				
				<div class="panel-infos" id="contact">
					
					<ul class="list-group" style="width:420px;">
						<li class="list-group-item" style="background-color:#EEEEEE;">地址</li>
						<li class="list-group-item">
							<input type="text" name="intelnetUrl" th:value="${data.intelnetUrl}" class="form-control" style="height:28px;" placeholder="网站地址">
						</li>
						<li class="list-group-item">
							<input type="text" name="contact" th:value="${data.contact}" class="form-control" style="height:28px;" placeholder="联系人">
						</li>
						  <li class="list-group-item">
							<input type="text" name="phone" th:value="${data.phone}" class="form-control" style="height:28px;" placeholder="电话">
						</li>
						<li class="list-group-item">
							<input type="text" name="address" th:value="${data.address}" class="form-control" style="height:28px;" placeholder="地址">
						</li>
						<li class="list-group-item">
							<input type="text" name="fax" th:value="${data.fax}" class="form-control" style="height:28px;" placeholder="传真">
						</li>
						<li class="list-group-item">
							<input type="text" name="postcode" th:value="${data.postcode}" class="form-control" style="height:28px;" placeholder="邮编号码">
						</li>
						<li class="list-group-item">
							<input type="text" name="postcode_address" th:value="${data.postcode_address}" class="form-control" style="height:28px;" placeholder="邮编地址">
						</li>
					</ul>
					
				</div>
				
				<div class="panel-infos" id="currency" hidden>
					
					<div class="input-group input-group-sm">
					  <span class="input-group-btn">
							<button class="btn btn-default" type="button">结算方式</button>
					  </span>
					  <select name="settlement_method_id" class="selectpicker show-tick form-control form-control-lg" data-live-search="true" data-actions-box="true">
						  <option value="-1">-- --</option>
					  </select>
					</div>

					<div class="input-group input-group-sm">
					  <span class="input-group-btn">
							<button class="btn btn-default" type="button">银行账号</button>
					  </span>
						<input type="text" name="bank_account" th:value="${data.bank_account}" class="form-control" placeholder="FAX" aria-describedby="basic-addon1">
					</div>

					<div class="input-group input-group-sm">
					  <span class="input-group-btn">
							<button class="btn btn-default" type="button">开户银行</button>
					  </span>
						<input type="text" name="open_account_bank" th:value="${data.open_account_bank}" class="form-control" placeholder="FAX" aria-describedby="basic-addon1">
					</div>

					<div class="input-group input-group-sm">
					  <span class="input-group-btn">
							<button class="btn btn-default" type="button">税率登记号</button>
					  </span>
						<input type="text" name="tax_rate_number" th:value="${data.tax_rate_number}" class="form-control" placeholder="FAX" aria-describedby="basic-addon1">
					</div>

					<div class="input-group input-group-sm">
					  <span class="input-group-btn">
							<button class="btn btn-default" type="button">增值税率</button>
					  </span>
						<input type="text" name="vat_rate" th:value="${data.vat_rate}" class="form-control" placeholder="FAX" onchange="checkNum(this)" aria-describedby="basic-addon1">
						<span class="input-group-addon">%</span>
					</div>

				</div>
				
				<div class="panel-infos" id="otherinfo" hidden>

					<!--<div class="input-group checkbox">
						<label>
							<input type="checkbox"> 禁用
						</label>
					</div>-->

					<div class="input-group input-group-sm">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button">摘要</button>
						 </span>
						<textarea class="form-control" name="other_remark" th:value="${data.other_remark}" placeholder="INFO..." id="conditioned" rows="20"></textarea>
					</div>
					
					<div class="input-group input-group-sm">
					  <span class="input-group-btn">
							<button class="btn btn-default" type="button">创建日期</button>
					  </span>
					  <input type="text" class="form-control" th:value="${data.create_datetime}" readonly placeholder="FAX" aria-describedby="basic-addon1">
					</div>

				</div>
				
			</div>
			
		</div>
	</form>

</div>




</body>
</html>