<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>public首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/erp/style/js/jquery.min.js"></script>
<script src="/erp/style/js/bootstrap.min.js"></script>
<link href="/erp/style/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<script src="/erp/style/js/common.js"></script>
	<style type="text/css">

	body{
		background-color:#FCFCFC;
	}
	
	.input-group{
		margin-left:30%;
		margin-top:5px;
		width:300px;
		float:left;
	}
	
	.query{
		margin-left:30px;
		margin-top:5px;
	}
	
	.btn-group-sm{
		margin-right:15px;
	}
	
	table{
		/*margin-top:15px;*/
		cursor: pointer;
	}
	
	table tr,th{
		text-align:center;
		overflow: hidden; /*超过区域就隐藏*/
		white-space: nowrap; /*规定段落中的文本不进行换行*/
		text-overflow: ellipsis; /*显示省略符号来代表被修剪的文本。*/
	}
	
	tr:hover{
		background-color:#dff0d8;
	}
	
	.tr_active{
		background-color:#d0e9c6;
	}
	
	.modal .form-control {
		height: 30px;
		font-size: 8px;
	}

	.form_date,.line-row{
		width: 120px;
		float: left;
	}

	.modal-body .input-group{
		margin-left:0;
		margin-top:5px;
		margin-right: 20px;
		width:300px;
		float:left;
	}

	.glyphicon:hover{
		cursor:pointer;
	}

	</style>
	
	<script type="text/javascript">
	window.onload = function(){
		var clientHeight = document.body.clientHeight-77;//可用页面高度-90(top84-底部预留6)
		document.getElementById("table_main").style.maxHeight = clientHeight+"px";
	}

	//查询表格选择复选框监听
	$(function () {
		//双击去到编辑页面
		$("tr").slice(1).dblclick(function () {
			var chks = $("input[type='checkbox']",this);
			var fid = chks.val();
			window.parent.topage('left60403','付款-编辑','TO_FK_Edit/'+fid,0);
		});

		//除了表头（第一行）以外所有的行添加click事件.
		$("tr").slice(1).click(function () {
			// 切换样式
			//$(this).toggleClass("tr_active");
			// 找到checkbox对象
			var chks = $("input[type='checkbox']",this);
			var tag = $(this).attr("tag");
			if(tag=="selected"){
				// 之前已选中，设置为未选中
				$(this).attr("tag","");
				chks.prop("checked",false);
				$(this).css("backgroundColor", "#fff");
			}else{
				// 之前未选中，设置为选中
				$(this).attr("tag","selected");
				chks.prop("checked",true);
				$(this).css("backgroundColor", "#d0e9c6");
			}
		});
	});
	
	//新增高级查询条件 前 检测
	function addcheck(){
		var field = $("#field").val().trim();
		var condition = $("#condition").val().trim();
		var range = $("#range").val().trim();
		if(field==""){
			alert("请选择一个字段！");
			return false;
		}
		if(condition==""){
			alert("请选择一个条件！");
			return false;
		}
		if(range==""){
			alert("值域不能为空！");
			return false;
		}
		$("#conditioned").append(field+"               "+condition+"               "+range+",\n");
	}

	//日期获取
	var end = "";
	var start = "";
	window.onload = function(){
		var date = new Date();
		var year = date.getFullYear();
		var month = date.getMonth()+1;
		var day = date.getDate();
		if(month<10){
			month = "0"+month+""
		}
		if(day<10){
			day = "0"+day
		}
		end = year+"-"+month+"-"+day;
		start = year+"-"+month+"-01";
		//$(".form_date").val(start);
		$(".month_last").val(end);
		$(".month_first").val(start);
		//document.getElementById('date_end').value = end;
		//document.getElementById('date_start').value = start;
	}

	//清除
	function cleantext(){
		$("#conditioned").val("");
	}
	
	//关闭拟态框
	function closemodal(){
		$("#myModal").modal('hide');
	}

	//删除行
	function deltr(){
		var datas = getCheckedVal();//选中的fid  5 6 7
		if(confirm("确定要删除已选中的单据嘛？")){

			//alert(datas);
			//提交表单
			$.ajax({
				url:"/erp/sfk_del",
				data: {"datas":datas},//转换为json数据格式  JSON.stringify(datas)
				type:"post",
				dataType:"json",
				success:function(result){
					if(result.code==200){
						alert("删除成功！");
						location.href="FKIndex";
					}else if(result.code==500){
						alert("删除失败!");
						location.href="FKIndex";
					}
					//alert(JSON.stringify(result));
				}
			});

		}
	}



	//获取高级查询 选项
	var isclick = 0;//只加载一次
	function getoption(){
		if(isclick==0){
			isclick = 1;

			//客户
			$.ajax({
				url:"/erp/Customer_all",
				type:"post",
				dataType:"json",
				success:function (result) {
					//alert(JSON.stringify(result));
					for(var i=0;i<result.length;i++){
						$("select[name='suppId']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}
				}
			});

			//部门
			$.ajax({
				url:"/erp/Depart_all",
				type:"post",
				dataType:"json",
				success:function (result) {
					//alert(JSON.stringify(result));
					for(var i=0;i<result.length;i++){
						$("select[name='depaId']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}

				}
			});

			//制单人
			$.ajax({
				url:"/erp/Staff_all",
				type:"post",
				dataType:"json",
				success:function (result) {
					//alert(JSON.stringify(result));
					for(var i=0;i<result.length;i++){
						$("select[name='billStaf']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}

				}
			});

		}

	}

	//查询
	function querys(){
		getItemByPage('nowpage');
		/*$("#AllQuery").submit();*/
	}

	//回车事件绑定
	$('#AllQuery').bind('keyup', function(event) {
		if (event.keyCode == "13") {
			//回车执行查询
			querys();//提交
		}
	});

	//开始结束 日期检测
	function datecheck(){
		var date_start = $("input[name=date_start]").val();
		var date_end = $("input[name=date_end]").val();
		return date_start>date_end;
	}

	//提交高级查询
	function gjquery(){
		if(!datecheck()){//开始日期不能大于结束日期
			$("#gjQuery").submit();
		}else{
			alert("开始日期不能大于结束日期！");
		}
	}

	//编辑行
	function edittr(){
		var len = chklen();
		if(len != 1){
			alert("请选择一行需要修改的数据！");
		}else{
			var fid = $("input[type='checkbox']:checked").val();
			/*location.href="CustomerEdit/"+fid;*/
			window.parent.topage('left60403','付款-编辑','TO_FK_Edit/'+fid,0);
		}
	}

	//翻页
	function getItemByPage(page){
		var startpage = parseFloat($("#nowpage").text());//当前页数
		var pagesize = parseFloat($("#pagesize").val());//每页条数
		var pagecount = parseFloat($("#pagecount").text());//总页数
		var AllQuery = $("input[name='AllQuery']").val();
		AllQuery = AllQuery == null || AllQuery == ""?"":AllQuery;
		var data = {};
		//alert(startpage+"-"+pagesize+"-"+cnm);
		if(page == 'first'){
			data.startpage = 1;
			data.pagesize = pagesize;
			data.AllQuery = AllQuery;
		}
		if(page == 'previous'){
			data.startpage = (startpage-1)>0?(startpage-1):1;
			data.pagesize = pagesize;
			data.AllQuery = AllQuery;
		}
		if(page == 'next'){
			data.startpage = (startpage+1)>pagecount?pagecount:(startpage+1);
			data.pagesize = pagesize;
			data.AllQuery = AllQuery;
		}
		if(page == 'last'){
			data.startpage = pagecount;
			data.pagesize = pagesize;
			data.AllQuery = AllQuery;
		}
		if(page == 'nowpage'){
			data.startpage = startpage;
			data.pagesize = pagesize;
			data.AllQuery = AllQuery;
		}
		//alert(data);
		window.location.href="SKIndex?startpage="+data.startpage+"&pagesize="+data.pagesize+"&AllQuery="+data.AllQuery;
	}

	//全选 obj本身  targ目标 根据本身的变化改变目标
	function AllChecked(obj,targ){
		if ($(obj).prop("checked") == true) {
			// 上面的复选框已被选中
			$("input[name='"+targ+"']").prop("checked", true);
			$("input[name='"+targ+"']").css("backgroundColor", "#d0e9c6");
		} else {
			// 上面的复选框没被选中
			$("input[name='"+targ+"']").prop("checked", false);
			$("input[name='"+targ+"']").css("backgroundColor", "#fff");
		}

	}
	</script>
	
	
</head>

<body>

<!-- 模态框声明 -->
	<div class="modal fade" id="myModal">
		<!-- 窗口声明 -->
		<div class="modal-dialog" style="width:800px;">
			<!-- 内容声明 -->
			<div class="modal-content">
			
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span>&times;</span></button>
					<h5 class="modal-title">高级查询</h5>
				</div>
				<div class="modal-body">
				<div class="container-fluid">

					<div class="row">
						<form method="post" action="ICStockBillIndexGj" id="gjQuery">
							<input type="hidden" name="billType" value="销售出库">
							<div class="col-md-12">
								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">单号</button>
                                     </span>
									<input type="text" name="billNo" class="form-control" aria-describedby="basic-addon1">
								</div>
								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">客户产品编码</button>
                                     </span>
									<input type="text" name="mid.custItemCode" class="form-control" aria-describedby="basic-addon1">
								</div>
								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">客户产品型号</button>
                                     </span>
									<input type="text" name="mid.custItemModel" class="form-control" aria-describedby="basic-addon1">
								</div>

								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">产品编码</button>
                                     </span>
									<input type="text" name="mid.itemCode" class="form-control" aria-describedby="basic-addon1">
								</div>
								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">产品型号</button>
                                     </span>
									<input type="text" name="mid.itemModel" class="form-control" aria-describedby="basic-addon1">
								</div>

								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">客户</button>
                                     </span>
									<select name="suppId" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="true">
										<option value="-1">-- --</option>
									</select>
								</div>
								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">部门</button>
                                     </span>
									<select name="depaId" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="true">
										<option value="-1">-- --</option>
									</select>
								</div>

								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">制单人</button>
                                     </span>
									<select name="billStaf" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="true">
										<option value="-1">-- --</option>
									</select>
								</div>
								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">单据日期-开始</button>
                                     </span>
									<input name="date_start" class="form-control form_date month_first" readonly style="background-color: #FFFFFF;"/>
								</div>
								<div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">单据日期-结束</button>
                                     </span>
									<input name="date_end" class="form-control form_date month_last" readonly style="background-color: #FFFFFF;"/>
								</div>

							</div>
						</form>
					</div>
					
				</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm" onclick="cleantext()">清除</button>
					<button class="btn btn-success btn-sm" onclick="gjquery()">查询</button>
					<button class="btn btn-success btn-sm" onclick="closemodal()">返回</button>
				</div>
				
			</div>
		</div>
	</div>
	
	<center>
		<h4 style="float:left;color: #5bc0de;"><b>付款单</b></h4>
		<div class="btn-group btn-group-sm p" role="group" aria-label="...">
			<button type="button" class="btn btn-default" onclick="javascript: window.parent.topage('left60401','付款-new','TransactionManagement/page_FKAdd',0);">新增</button>

			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					基础
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" onclick="edittr()">修改</a></li>
					<li><a href="#" onclick="deltr()">删除</a></li>
					<li><a href="#">导入</a></li>
					<li><a href="#">批删除</a></li>
				</ul>
			</div>
		</div>
		
		<div class="btn-group btn-group-sm p" role="group" aria-label="...">
			<button type="button" class="btn btn-default">审核</button>

			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					权限
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">作废</a></li>
					<li><a href="#">关闭</a></li>
					<li><a href="#">反审核</a></li>
					<li><a href="#">反作废</a></li>
					<li><a href="#">反关闭</a></li>
					<li><a href="#">批反审</a></li>
				</ul>
			</div>
		</div>
		
		<div class="btn-group btn-group-sm p" role="group" aria-label="...">
			<button type="button" class="btn btn-default">设置</button>

			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					其他
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">刷新</a></li>
					<li><a href="#">导出</a></li>
					<li><a href="#">退出</a></li>
				</ul>
			</div>
		</div>

		<center style="float: right">
		<a href="#" onclick="getItemByPage('first')">首页</a>
		<a href="#" onclick="getItemByPage('previous')">上一页</a>
		<span id="nowpage" th:text="${datas.startpage}">1</span>
		<a href="#" onclick="getItemByPage('next')">下一页</a>
		<a href="#" onclick="getItemByPage('last')">尾页</a>
		[<span id="startpage" th:text="${datas.startpage}"></span>/<span id="pagecount" th:text="${datas.pagecount}"></span>]
		共<span id="countTatol" th:text="${datas.countTatol}"></span>条
		<select id="pagesize" onchange="getItemByPage('nowpage')" class="selectpicker" data-live-search="true" data-actions-box="true">
			<option th:selected="${datas.pagesize==10}? 'selected'" value="10">10</option>
			<option th:selected="${datas.pagesize==20}? 'selected'" value="20">20</option>
			<option th:selected="${datas.pagesize==50}? 'selected'" value="50">50</option>
			<option th:selected="${datas.pagesize==80}? 'selected'" value="80">80</option>
		</select>
	</center>
	</center>

<div>
	<form method="post" action="#" id="AllQuery">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1">模糊查询</span>
			<input type="text" name="AllQuery" th:value="${AllQuery}" class="form-control" placeholder="单号、客户、编码、型号" aria-describedby="basic-addon1">
		</div>
		<button class="btn btn-default btn-sm query" onclick="querys()">查询</button>
		<!--<button class="btn btn-default btn-sm query" onclick="getoption()" data-toggle="modal" data-target="#myModal">高级</button>-->
	</form>
</div>

<div id="table_main" style="overflow-x:auto;overflow-y:auto;">
	<table id="table" class="table table-striped table-bordered table-condensed table-hover" style="max-width:2000px;">
	<tr>
		<th>
			<input type='checkbox' onchange="AllChecked(this,'fid')" value="-1">
		</th>
		<th>序号</th>
		<th>单号</th>
		<th>单据日期</th>
		<th>供应商名称</th>
		<th>结算方式</th>
		<th>币别</th>
		<th>汇率</th>
		<th>收款账号</th>
		<th>收款金额</th>
		<th>备注</th>
		<th>分录号</th>
		<th>源单类型</th>
		<th>源单单号</th>
		<th>源单日期</th>
		<th>源单序号</th>
		<th>客户订单号</th>
		<th>产品编码</th>
		<th>名称</th>
		<th>型号</th>
		<th>客户产品编码</th>
		<th>客户产品型号</th>
		<th>单位</th>
		<th>实发数量</th>
		<th>单价(含税)</th>
		<th>金额(含税)</th>
		<th>核销金额</th>
		<th>行备注</th>
	</tr>

	<tr th:each="data,state:${datas.data}">
		<td><input type="checkbox" name="fid" th:value="${data.fid}"></td>
		<td th:text="${state.index+1}">1</td>
		<td th:text="${data.billNo}">ALISA</td>
		<td th:text="${data.billDate}">女</td>
		<td th:text="${data.custIds.name}">18</td>
		<td th:text="${data.settleName}">18</td>
		<td th:text="${data.currencyName}">18</td>
		<td th:text="${data.exchangeRate}">18</td>
		<td th:text="${data.skAccount}">18</td>
		<td th:text="${data.skAmt}">18</td>
		<td th:text="${data.remark}">18</td>
		<td th:text="${data.entryId}">18</td>
		<td th:text="${data.sourType}">18</td>
		<td th:text="${data.sourBillNo}">18</td>
		<td th:text="${data.sourBillDate}">18</td>
		<td th:text="${data.sourEntryId}">18</td>
		<td th:text="${data.custOrderNum}">18</td>
		<td th:text="${data.itemIds.code}">18</td>
		<td th:text="${data.itemIds.name}">18</td>
		<td th:text="${data.itemIds.model}">18</td>
		<td th:text="${data.itemIds.custItemCode}">18</td>
		<td th:text="${data.itemIds.custItemModel}">18</td>
		<td th:text="${data.itemIds.saleUnitIdName}">18</td>
		<td th:text="${data.qty}">18</td>
		<td th:text="${data.taxPrice}">18</td>
		<td th:text="${data.taxAmt}">18</td>
		<td th:text="${data.hxAmt}">18</td>
		<td th:text="${data.rowRemark}">18</td>
	</tr>

</table>
</div>

<link href="/erp/style/DatePicker2/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="/erp/style/DatePicker2/js/bootstrap-datetimepicker.min.js"></script>
<script src="/erp/style/DatePicker2/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	//table 列框拉动改变列宽
	var tTD;
	var table = document.getElementById("table");
	console.log(table.rows[0].cells)
	for (i = 0; i < table.rows[0].cells.length; i++) {
		table.rows[0].cells[i].onmousedown = function() {
			tTD = this;
			if (event.offsetX > tTD.offsetWidth - 10) {
				tTD.mouseDown = true;
				tTD.oldX = event.x;
				tTD.oldWidth = tTD.offsetWidth;
			}
		};
		table.rows[0].cells[i].onmouseup = function() {
			if (tTD == undefined) tTD = this;
			tTD.mouseDown = false;
			tTD.style.cursor = 'default';
		};
		table.rows[0].cells[i].onmousemove = function() {
			if (event.offsetX > this.offsetWidth - 10)
				this.style.cursor = 'col-resize';
			else
				this.style.cursor = 'default';
			if (tTD == undefined) tTD = this;
			if (tTD.mouseDown != null && tTD.mouseDown == true) {
				tTD.style.cursor = 'default';
				if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
					tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
				tTD.style.width = tTD.width;
				tTD.style.cursor = 'col-resize';
				table = tTD;
				while (table.tagName != 'TABLE') table = table.parentElement;
				for (j = 0; j < table.rows.length; j++) {
					table.rows[j].cells[tTD.cellIndex].width = tTD.width;
				}
			}
		};
	}

	$('.form_datetime').datetimepicker({
		language : 'zh-CN',
		format : 'yyyy-mm-dd hh:ii:ss',//日期格式
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
		showMeridian: 1
	});
	$('.form_date').datetimepicker({
		language : 'zh-CN',
		format : 'yyyy-mm-dd',//日期格式
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});
	$('.form_time').datetimepicker({
		language : 'zh-CN',
		format : 'hh:ii',//日期格式
		weekStart: 1,//一周的开始 1 星期一 0星期天
		todayBtn:  1,//是否显示'today'按钮
		autoclose: 1,//是否自动关闭日期选择器
		todayHighlight: 1,//当天日期高亮
		//选择 年月日时分 43210
		startView: 1,//首先显示的视图
		minView: 0,//最精确的时间选择视图
		maxView: 1,

		forceParse: 0//强制解析
	});
</script>


	
</body>
</html>