<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>public首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/erp/style/js/jquery.min.js"></script>
<script src="/erp/style/js/bootstrap.min.js"></script>
<link href="/erp/style/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	
	<style type="text/css">

	body{
		background-color:#FCFCFC;
	}

	.input-group{
		margin-left:10px;
		margin-top:5px;
		width:350px;
		float:left;
	}
	
	.query{
		margin-left:30px;
		margin-top:5px;
	}
	
	.btn-group-sm{
		margin-right:15px;
	}
	
	table{
		margin-top:15px;
		cursor: pointer;
	}
	
	table tr,th{
		text-align:center;
	}
	
	tr:hover{
		background-color:#dff0d8;
	}
	
	.tr_active{
		background-color:#d0e9c6;
	}
	
	.modal .form-control {
		height: 30px;
		font-size: 8px;
	}

	.modal-body .input-group{
		margin-left:0;
		margin-top:5px;
		margin-right: 20px;
		width:300px;
		float:left;
	}

	.stocktr{
		width: 150px;
		margin-left: 10px;
	}
	.calctr{
		float: left;
		width: 170px;
		margin-left: 10px;
		margin-top: 5px;
	}

	.stockbox{
		overflow:scroll;
		overflow-x: hidden;
		float: left;
		width: 15%;
		height: 120px;
		border: 1px solid #bce8f1;
		margin-left: 10px;
		margin-top: 10px;
	}

	.calcbox{
		float: left;
		width: 60%;
		height: 90px;
		border: 1px solid #bce8f1;
		margin-left: 10px;
		margin-top: 10px;
	}

	.sobox{
		float: left;
		width: 83%;
		height: 140px;
		border: 1px solid #bce8f1;
		margin-left: 10px;
		margin-top: 10px;
	}

	.billbox{
		width:37%;
		height:90px;
		margin-left:10px;
		margin-top:10px;
		float:left;
		overflow-x:auto;
		overflow-y:auto;
		margin-left: 10px;
		border: 1px solid #bce8f1;
	}

	</style>
	
	<script type="text/javascript">
	//主页的项目名
	var path = $(window.parent.document.body).find("#path").val();

	//查询表格选择复选框监听
	var end = "";
	var start = "";//日期
	$(function () {
		/*//双击去到编辑页面
		$("tr").slice(1).dblclick(function () {
			var chks = $("input[type='checkbox']",this);
			var fid = chks.val();
			window.parent.topage('left1010203','产品-编辑','ItemEdit/'+fid);
		});*/

		//除了表头（第一行）以外所有的行添加click事件.
		$("tr").slice(1).click(function () {
			// 切换样式
			//$(this).toggleClass("tr_active");
			// 找到checkbox对象
			var chks = $("input[type='checkbox']",this);
			var tag = $(this).attr("tag");
			if(tag=="selected"){
				// 之前已选中，设置为未选中
				$(this).attr("tag","");
				chks.prop("checked",false);
				$(this).css("backgroundColor", "#fff");
			}else{
				// 之前未选中，设置为选中
				$(this).attr("tag","selected");
				chks.prop("checked",true);
				$(this).css("backgroundColor", "#d0e9c6");
			}
		});

		//仓库
		var stockJOSN = null;//仓库信息列表
		$.ajax({
			url:"/erp/Store_all",
			type:"post",
			dataType:"json",
			success:function (result) {
				stockJOSN = result;//预存
				for(var i=0;i<result.length;i++){
					var stock = "<div class='stocktr'>" +
							"<input id='ck"+result[i].fid+"' name='stockId' onclick='StockAllChecked('astock')' type='checkbox' checked value='"+result[i].fid+"' ><label for='ck"+result[i].fid+"'>"+result[i].name+"</label>" +
					"</div>";
					$("#stockbox").append(stock);
				}

			}
		});

		//客户
		$.ajax({
			url:"/erp/Customer_all",
			type:"post",
			dataType:"json",
			success:function (result) {
				//alert(JSON.stringify(result));
				for(var i=0;i<result.length;i++){
					$("select[name='suppId']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
				}
			}
		});

		//订单列表
		var data = getItemByPage('first');//根据翻页按钮获取条件
		$.ajax({
			url:"/erp/Sour_SaleOrder?id="+new Date(),
			data: data,
			type:"post",
			dataType:"json",
			success:function(result){
				for(var i=0;i<result.data.length;i++){
					var fid = result.data[i].fid;//唯一id
					var itemId = result.data[i].mid.itemId;//itemid
					var billNo = result.data[i].billNo;
					var suppIdFidName = result.data[i].custIdFid.name;
					var settIdFidName = result.data[i].settleIdFid.name;
					var rate = result.data[i].rate;
					var entryId = result.data[i].mid.entryId;
					var itemCode = result.data[i].mid.itemCode;
					var itemName = result.data[i].mid.itemName;
					var itemModel = result.data[i].mid.itemModel;
					var custItemCode = result.data[i].mid.custItemCode;
					var custItemModel = result.data[i].mid.custItemModel;
					var unitName = result.data[i].mid.unitName;
					var qty = result.data[i].mid.qty;
					var stockId = result.data[i].stockId.fid;
					var stockName = result.data[i].stockId.name;
					var custOrderNum = result.data[i].mid.custOrderNum;
					var batchNumber = result.data[i].mid.batchNumber;
					var taxPrice = result.data[i].mid.taxPrice;
					var sourFid = result.data[i].mid.fid;
					var sourEntryId = result.data[i].mid.entryId;
					var icsQty = result.data[i].mid.icsQty;//已关联数量
					var apphtml = "<tr>" +
							"<td id='fid"+fid+"'><input type='checkbox' id='sos"+(i+1)+"' value='"+fid+"' ></td>" +
							"\t\t\t\t\t\t\t\t<td>"+billNo+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+suppIdFidName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+settIdFidName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='rate"+fid+"'>"+rate+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+entryId+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='code"+fid+"'>"+itemCode+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='name"+fid+"'>"+itemName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='model"+fid+"'>"+itemModel+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='custItemCode"+fid+"'>"+custItemCode+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='custItemModel"+fid+"'>"+custItemModel+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='saleUnitIdName"+fid+"'>"+unitName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+qty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='stockName"+fid+"'>"+stockName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='icsQty"+fid+"'>"+icsQty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='qty"+fid+"'>"+(qty-icsQty<=0?0:qty-icsQty)+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='custOrderNum"+fid+"'>"+custOrderNum+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='batchNumber"+fid+"'>"+batchNumber+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='salePrice"+fid+"'>"+taxPrice+"</td>\n" +
							"<input type='hidden' id='itemId"+fid+"' value='"+itemId+"' >"+
							"<input type='hidden' id='sourFid"+fid+"' value='"+sourFid+"' >"+
							"<input type='hidden' id='sourBillNo"+fid+"' value='"+billNo+"' >"+
							"<input type='hidden' id='sourEntryId"+fid+"' value='"+sourEntryId+"' >"+
							"<input type='hidden' id='stockId"+fid+"' value='"+stockId+"' >"+
							"\t\t\t\t\t\t\t</tr>";
					$("table[id='items']").append(apphtml);
					var startpage = result.startpage;
					var pagecount = result.pagecount;
					var countTatol = result.countTatol;
					$("#startpage").text(startpage);
					$("#pagecount").text(pagecount);
					$("#countTatol").text(countTatol);
					$("#nowpage").text(startpage);

				}

				//alert(JSON.stringify(result));
				//除了表头（第一行）以外所有的行添加click事件.  josn插入后更新
				$("tr").slice(1).click(function () {
					// 切换样式
					//$(this).toggleClass("tr_active");
					// 找到checkbox对象
					var chks = $("input[type='checkbox']",this);
					var tag = $(this).attr("tag");
					if(tag=="selected"){
						// 之前已选中，设置为未选中
						$(this).attr("tag","");
						chks.prop("checked",false);
						$(this).css("backgroundColor", "#fff");
					}else{
						// 之前未选中，设置为选中
						$(this).attr("tag","selected");
						chks.prop("checked",true);
						$(this).css("backgroundColor", "#d0e9c6");
					}
				});
			}
		});

		//日期获取
		var date = new Date();
		var year = date.getFullYear();
		var month = date.getMonth()+1;
		var day = date.getDate();
		if(month<10){
			month = "0"+month+""
		}
		if(day<10){
			day = "0"+day
		}
		end = year+"-"+month+"-"+day;
		start = (year-1)+"-"+month+"-01";
		//$(".form_date").val(start);
		$(".billDate_start").val(start);
		$(".billDate_end").val(end);
		//document.getElementById('date_end').value = end;
		//document.getElementById('date_start').value = start;

	});

	//点击来源 获取item信息
	function getitem(page){
		if(page == "切换"){//切换来源则清空全局查询
			$("input[name='cnm']").val("");
		}
		$("#items tr").slice(1).empty("");//删除全部行
		var data = getItemByPage(page);//根据翻页按钮获取条件
		reqappend(data);//添加表体
	}

	//获取翻页查询条件
	function getItemByPage(page){
		var startpage = parseFloat($("#nowpage").text());//当前页数
		var pagesize = parseFloat($("#pagesize").val());//每页条数
		var pagecount = parseFloat($("#pagecount").text());//总页数
		var range = $("#range").val();//选择的范围
		var cnm = $("input[name='cnm']").val();
		var date_start = $("input[name='date_start']").val();
		var date_end = $("input[name='date_end']").val();
		var suppId = $("select[name='suppId']").val();
		cnm = cnm == null || cnm == ""?"":cnm;

		var data = {range:range,suppId:suppId};
		//alert(range);
		if(page == 'first'){
			data.startpage = 1;
			data.pagesize = pagesize;
			data.date_start = date_start;
			data.date_end = date_end;
			data.cnm = cnm;
		}else if(page == 'previous'){
			data.startpage = (startpage-1)>0?(startpage-1):1;
			data.pagesize = pagesize;
			data.date_start = date_start;
			data.date_end = date_end;
			data.cnm = cnm;
		}else if(page == 'next'){
			data.startpage = (startpage+1)>pagecount?pagecount:(startpage+1);
			data.pagesize = pagesize;
			data.date_start = date_start;
			data.date_end = date_end;
			data.cnm = cnm;
		}else if(page == 'last'){
			data.startpage = pagecount;
			data.pagesize = pagesize;
			data.date_start = date_start;
			data.date_end = date_end;
			data.cnm = cnm;
		}else if(page == '选择客户'){
			data.startpage = 1;
			data.pagesize = pagesize;
			data.cnm = cnm;
			data.date_start = date_start;
			data.date_end = date_end;
		}else{//默认没有
			data.startpage = 1;
			data.pagesize = pagesize;
			data.date_start = date_start;
			data.date_end = date_end;
			data.cnm = cnm;
		}
		//alert(data);
		return data;
	}

	//请求并插入items
	function reqappend(data){
		$.ajax({
			url:"/erp/Sour_SaleOrder?id="+new Date(),
			data: data,
			type:"post",
			dataType:"json",
			success:function(result){
				for(var i=0;i<result.data.length;i++){
					var fid = result.data[i].fid;//唯一id
					var itemId = result.data[i].mid.itemId;//itemid
					var billNo = result.data[i].billNo;
					var suppIdFidName = result.data[i].custIdFid.name;
					var settIdFidName = result.data[i].settleIdFid.name;
					var rate = result.data[i].rate;
					var entryId = result.data[i].mid.entryId;
					var itemCode = result.data[i].mid.itemCode;
					var itemName = result.data[i].mid.itemName;
					var itemModel = result.data[i].mid.itemModel;
					var custItemCode = result.data[i].mid.custItemCode;
					var custItemModel = result.data[i].mid.custItemModel;
					var unitName = result.data[i].mid.unitName;
					var qty = result.data[i].mid.qty;
					var stockId = result.data[i].stockId.fid;
					var stockName = result.data[i].stockId.name;
					var custOrderNum = result.data[i].mid.custOrderNum;
					var batchNumber = result.data[i].mid.batchNumber;
					var taxPrice = result.data[i].mid.taxPrice;
					var sourFid = result.data[i].mid.fid;
					var sourEntryId = result.data[i].mid.entryId;
					var icsQty = result.data[i].mid.icsQty;//已关联数量
					var apphtml = "<tr>" +
							"<td id='fid"+fid+"'><input id='sos"+(i+1)+"' type='checkbox' value='"+fid+"' ></td>" +
							"\t\t\t\t\t\t\t\t<td>"+billNo+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+suppIdFidName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+settIdFidName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='rate"+fid+"'>"+rate+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+entryId+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='code"+fid+"'>"+itemCode+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='name"+fid+"'>"+itemName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='model"+fid+"'>"+itemModel+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='custItemCode"+fid+"'>"+custItemCode+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='custItemModel"+fid+"'>"+custItemModel+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='saleUnitIdName"+fid+"'>"+unitName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+qty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='stockName"+fid+"'>"+stockName+"</td>\n" +
							/*"\t\t\t\t\t\t\t\t<td id='icsQty"+fid+"'>"+icsQty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='qty"+fid+"'>"+(qty-icsQty<=0?0:qty-icsQty)+"</td>\n" +*/
							"\t\t\t\t\t\t\t\t<td id='custOrderNum"+fid+"'>"+custOrderNum+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='batchNumber"+fid+"'>"+batchNumber+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td id='salePrice"+fid+"'>"+taxPrice+"</td>\n" +
							"<input type='hidden' id='itemId"+fid+"' value='"+itemId+"' >"+
							"<input type='hidden' id='sourFid"+fid+"' value='"+sourFid+"' >"+
							"<input type='hidden' id='sourBillNo"+fid+"' value='"+billNo+"' >"+
							"<input type='hidden' id='sourEntryId"+fid+"' value='"+sourEntryId+"' >"+
							"<input type='hidden' id='stockId"+fid+"' value='"+stockId+"' >"+
							"\t\t\t\t\t\t\t</tr>";
					$("table[id='items']").append(apphtml);
					var startpage = result.startpage;
					var pagecount = result.pagecount;
					var countTatol = result.countTatol;
					$("#startpage").text(startpage);
					$("#pagecount").text(pagecount);
					$("#countTatol").text(countTatol);
					$("#nowpage").text(startpage);

				}

				//alert(JSON.stringify(result));
				//除了表头（第一行）以外所有的行添加click事件.  josn插入后更新
				$("tr").slice(1).click(function () {
					// 切换样式
					//$(this).toggleClass("tr_active");
					// 找到checkbox对象
					var chks = $("input[type='checkbox']",this);
					var tag = $(this).attr("tag");
					if(tag=="selected"){
						// 之前已选中，设置为未选中
						$(this).attr("tag","");
						chks.prop("checked",false);
						$(this).css("backgroundColor", "#fff");
					}else{
						// 之前未选中，设置为选中
						$(this).attr("tag","selected");
						chks.prop("checked",true);
						$(this).css("backgroundColor", "#d0e9c6");
					}
				});


			}
		});
	}

	//新增高级查询条件 前 检测
	function addcheck(){
		var field = $("#field").val().trim();
		var condition = $("#condition").val().trim();
		var range = $("#range").val().trim();
		if(field==""){
			alert("请选择一个字段！");
			return false;
		}
		if(condition==""){
			alert("请选择一个条件！");
			return false;
		}
		if(range==""){
			alert("值域不能为空！");
			return false;
		}
		$("#conditioned").append(field+"               "+condition+"               "+range+",\n");
	}
	
	//清除
	function cleantext(){
		$("#conditioned").val("");
	}
	
	//关闭拟态框
	function closemodal(){
		$("#myModal").modal('hide');
	}

	//获取checkbox选中的value数据
	function getHabit() {
		//$('input:checkbox:checked') 等同于 $('input[type=checkbox]:checked')
		var trs  = new Array();
		var i = 0;
		$.each($('input:checkbox:checked'), function() {
			trs[i] = $(this).val();
			i++;
		});
		return trs;
		//window.alert("你选了" + $('input[type=checkbox]:checked').length + "个,其中有" + trs);
	}

	//复选框选中的个数
	function chklen(){
		var len = $("input[type='checkbox']:checked").length;
		if(len<=0){
			//alert("请选择数据项!");
			return false;
		}
		return len;
	}

	//删除行
	function deltr(){
		var datas = getHabit();//选中的fid  5 6 7
		var len = chklen();//选中的个数
		if(confirm("确定要删除已选中的" + len + "个选项嘛？")){

			//alert(datas);
			//提交表单
			$.ajax({
				url:"/erp/Item_del",
				data: {"datas":datas},//转换为json数据格式  JSON.stringify(datas)
				type:"post",
				dataType:"json",
				success:function(result){
					if(result.code==200){
						alert("删除成功！");
						location.href="Item_index";
					}else if(result.code==500){
						alert("删除失败!");
						location.href="Item_index";
					}
					//alert(JSON.stringify(result));
				}
			});

		}
	}

	//编辑行
	function edittr(){
		var len = chklen();
		if(len != 1){
			alert("请选择一行需要修改的数据！");
		}else{
			var fid = $("input[type='checkbox']:checked").val();
			/*location.href="CustomerEdit/"+fid;*/
			window.parent.topage('left1010203','产品-编辑','ItemEdit/'+fid);
		}
	}

	//查询
	function querys(){
		$("#AllQuery").submit();
	}

	//回车事件绑定
	$('#AllQuery').bind('keyup', function(event) {
		if (event.keyCode == "13") {
			//回车执行查询
			querys();//提交
		}
	});

	//获取高级查询 选项
	var isclick = 0;//只加载一次
	function getoption(){
		if(isclick==0){
			isclick = 1;

			//客户
			$.ajax({
				url:"/erp/Customer_all",
				type:"post",
				dataType:"json",
				success:function (result) {
					//alert(JSON.stringify(result));
					for(var i=0;i<result.length;i++){
						$("select[name='custId']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}
				}
			});

			//部门
			$.ajax({
				url:"/erp/Depart_all",
				type:"post",
				dataType:"json",
				success:function (result) {
					//alert(JSON.stringify(result));
					for(var i=0;i<result.length;i++){
						$("select[name='depId']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}

				}
			});

			//职员
			$.ajax({
				url:"/erp/Staff_all",
				type:"post",
				dataType:"json",
				success:function (result) {
					//alert(JSON.stringify(result));
					for(var i=0;i<result.length;i++){
						$("select[name='billStaffId']").append("<option value='"+result[i].fid+"'>"+result[i].name+"</option>");
					}

				}
			});


		}

	}

	//提交高级查询
	function gjquery(){
		$("#gjQuery").submit();
	}

	function tips(){
		alert("该功能未配置，敬请期待！");
	}

	//仓库选择
	function StockAllChecked(type){
		if(type == 'allstock'){//点击全选按钮
			if ($("#ckall").prop("checked") == true) {
				// 上面的复选框已被选中
				$("input[name='stockId']").prop("checked", true);
			} else {
				// 上面的复选框没被选中
				$("input[name='stockId']").prop("checked", false);
			}
		}else if(type == 'allsos'){//点击单个仓库按钮  demand_so
			var soslen = $("#items tr").length-1;//需求行数
			if ($("#sosall").prop("checked") == true) {
				for(var i = 1;i<=soslen;i++){
					$("#sos"+i+"").prop("checked", true);
				}
			}else {
				for(var i = 1;i<=soslen;i++){
					$("#sos"+i+"").prop("checked", false);
				}
			}

		}

	}

	//获取仓库checkbox选中的value数据
	function getStockId() {
		//$('input:checkbox:checked') 等同于 $('input[type=checkbox]:checked')
		var stocks  = new Array();
		var i = 0;
		$.each($('#stockbox input:checkbox:checked'), function() {
			if($(this).val() != 'all'){
				stocks[i] = $(this).val();
				i++;
			}
		});
		return stocks;
		//window.alert("你选了" + $('input[type=checkbox]:checked').length + "个,其中有" + trs);
	}

	//获取mrp计算条件checkbox选中的value数据
	function getCalcId() {
		//$('input:checkbox:checked') 等同于 $('input[type=checkbox]:checked')
		var trs  = new Array();
		var i = 0;
		$.each($('#calcbox input:checkbox:checked'), function() {
			trs[i] = $(this).val();
			i++;
		});
		return trs;
		//window.alert("你选了" + $('input[type=checkbox]:checked').length + "个,其中有" + trs);
	}

	//获取订单行checkbox选中的value数据
	function getSOsId() {
		//$('input:checkbox:checked') 等同于 $('input[type=checkbox]:checked')
		var trs  = new Array();
		var i = 0;
		$.each($('#items input:checkbox:checked'), function() {
			trs[i] = $(this).val();
			i++;
		});
		return trs;
		//window.alert("你选了" + $('input[type=checkbox]:checked').length + "个,其中有" + trs);
	}

	//MRP计算
	function MRPcalc(){
		var stocks = getStockId();
		var calcs = getCalcId();
		var sos = getSOsId();
		var calc1 =$("#calc1").is(":checked") == true?1:0;

		$.ajax({
			url:"/erp/MRPCalc",
			data: {
				"stocks":stocks,
				"calc1":calc1,
				"sos":sos
			},//转换为json数据格式  JSON.stringify(datas)
			type:"post",
			dataType:"json",
			success:function(result){
				$("#demand tr").slice(1).empty("");//删除全部行
				for(var i=0;i<result.data.length;i++){
					var itemId = result.data[i].itemId;//唯一id
					var mainItemCode = result.data[i].mainItemCode;//主件名称
					var cuid = result.data[i].cuid;//itemid
					var code = result.data[i].code;
					var name = result.data[i].name;
					var model = result.data[i].model;
					var unitName = result.data[i].unitName;
					var demand_qty = result.data[i].demand_qty;//需求数量
					var way_qty = result.data[i].way_qty;//在途数量
					var wait_pro_qty = result.data[i].wait_pro_qty;//待产数量
					var stock_qty = result.data[i].stock_qty;//仓库数量
					var com_demand_qty = demand_qty+wait_pro_qty-way_qty-stock_qty;//综合需求数量

					var apphtml = "<tr>" +
							"<td>"+(i+1)+"</td>" +
							"\t\t\t\t\t\t\t\t<td>"+mainItemCode+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+code+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+name+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+model+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+unitName+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+demand_qty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+way_qty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+wait_pro_qty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+stock_qty+"</td>\n" +
							"\t\t\t\t\t\t\t\t<td>"+com_demand_qty+"</td>\n" +
							"<input type='hidden' value='"+itemId+"' >"+
							"<input type='hidden' value='"+cuid+"' >"+
							"<input type='hidden' value='"+demand_qty+"' >"+
							"<input type='hidden' value='"+com_demand_qty+"' >"+
							"\t\t\t\t\t\t\t</tr>";
					$("table[id='demand']").append(apphtml);

				}
				var mrp_id = result.mrp_id;
				$("#mrp_id").val(mrp_id);
				//alert(JSON.stringify(result));

			}
		});

	}

	//生成采购、备料、计划
	function GenerateMrp(){
		var mrp_id = $("#mrp_id").val();
		var calcs  = new Array();
		var j = 0;
		for(var i=0;i<4;i++){
			if($("#calc"+(i+2)).prop("checked") == true){
				calcs[j] = $("#calc"+(i+2)).val();
				j++;
			}
		}

		$.ajax({
			url:"/erp/GenerateMrp",
			data: {mrp_id:mrp_id,
				calcs:calcs
			},//转换为json数据格式  JSON.stringify(datas)
			type:"post",
			dataType:"json",
			success:function(result){

				var cg = 0;
				var bl = 0;
				var jh = 0;
				for(var i=0;i<result.data.length;i++){
					var itemId = result.data[i].itemId;
					var mainItemCode = result.data[i].mainItemCode;
					var h = "<div style='float: left;margin-left: 3px;'>"+
								"<span>"+mainItemCode+"</span>"+
							"</div>";
					if(itemId == 1){//采购申请单
						$("#po_mand").append(h);
						cg++;
					}else if(itemId == 2){//生产备料单
						$("#back_mand").append(h);
						bl++;
					}else if(itemId == 3){//生产计划单
						$("#ph_mand").append(h);
						jh++;
					}
				}
				alert("生成采购申请单"+cg+"张，\n"+
						"生成生产备料单"+bl+"张，\n"+
						"生成生产计划单"+jh+"张。");
				getitem(0);

			}
		});

	}

	//选择生成的参数
	function demandCalc(type){
		if(type == '按需'){
			if($("#calc2").prop("checked") == true){
				$("#calc3").prop("checked",false);
			}else {
				$("#calc3").prop("checked",true);
			}
		}else if(type == '综合'){
			if($("#calc3").prop("checked") == true){
				$("#calc2").prop("checked",false);
			}else {
				$("#calc2").prop("checked",true);
			}
		}else if(type == '一张备料'){
			if($("#calc4").prop("checked") == true){
				$("#calc5").prop("checked",true);
			}else {
				$("#calc5").prop("checked",false);
			}
		}else if(type == '一张计划'){
			if($("#calc5").prop("checked") == true){
				$("#calc4").prop("checked",true);
			}else {
				$("#calc4").prop("checked",false);
			}
		}
	}
	</script>
</head>

<body>

<div class="stockbox" id="stockbox">
	<div style="float: right;margin-right: 10px;">
		<input id="ckall" type='checkbox' value="all" checked onclick="StockAllChecked('allstock')"><label for="ckall">全选</label>
	</div>

</div>

<div class="sobox">
	<div>
		<div class="input-group input-group-sm" style="width: 180px;">
			<span class="input-group-addon" >单据日期：</span>
			<input name="date_start" class="form-control form_date billDate_start" readonly style="background-color: #FFFFFF;">
		</div>
		<div class="input-group input-group-sm" style="width: 140px;margin-left: 0;">
			<span class="input-group-addon" >至</span>
			<input name="date_end" class="form-control form_date billDate_end" readonly style="background-color: #FFFFFF;">
		</div>
		<div class="input-group input-group-sm" style="width: 80px;">
			<select id="range" onchange="getitem('切换')" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="true">
				<option value="1">未计算</option>
				<option value="2">已计算</option>
				<option value="3">全部</option>
			</select>
		</div>

		<div class="input-group input-group-sm" style="width: 140px;">
			<select onchange="getitem('选择客户')" name="suppId" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="true">
				<option value="-1">--请选择客户--</option>
			</select>
		</div>

		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1">模糊查询</span>
			<input type="text" name="cnm" class="form-control" placeholder="单号、客户、编码、型号" aria-describedby="basic-addon1">
			<span class="input-group-btn">
				<button class="btn btn-default" onclick="getitem(0)" type="button">查询</button>
			</span>
		</div>
	</div>


	<div class="calcbox" id="calcbox">
		<div class="calctr">
			<input type='checkbox' id="calc1" value="1" >
			<label for="calc1">是否按成品计算需求量</label>
		</div>
		<div class="calctr">
			<input type='checkbox' onclick="demandCalc('按需')" checked id="calc2" value="2" >
			<label for="calc2">按需生成采购量</label>
		</div>
		<div class="calctr">
			<input type='checkbox' onclick="demandCalc('综合')" id="calc3" value="3" >
			<label for="calc3">综合生成采购量</label>
		</div>
		<div class="calctr">
			<input type='checkbox' onclick="demandCalc('一张备料')" id="calc4" value="4" >
			<label for="calc4">一款成品一张备料</label>
		</div>
		<div class="calctr">
			<input type='checkbox' onclick="demandCalc('一张计划')" id="calc5" value="5" >
			<label for="calc5">一款成品一张计划</label>
		</div>

	</div>

	<div class="billbox">
		<div id="po_mand" style="float: left;">
			<div style="width: 100%;">
				<span>采购单</span>
			</div>

		</div>
		<div id="back_mand" style="float: left;">
			<div style="width: 100%;">
				<span>备料单</span>
			</div>

		</div>
		<div id="ph_mand" style="float: left;">
			<div style="width: 100%;">
				<span>计划单</span>
			</div>

		</div>
	</div>
</div>

<button class="btn btn-default btn-sm query" onclick="MRPcalc()" data-toggle="modal" data-target="#myModal">MRP计算</button>
<button class="btn btn-default btn-sm query" onclick="GenerateMrp()" data-toggle="modal" data-target="#myModal">生成请购、计划、备料</button>
<input id="mrp_id" name="mrp_id" hidden="hidden">


<div style="float: right;margin-top: 10px;">
	<a href="#" onclick="getitem('first')">首页</a>
	<a href="#" onclick="getitem('previous')">上一页</a>
	<span id="nowpage">1</span>
	<a href="#" onclick="getitem('next')">下一页</a>
	<a href="#" onclick="getitem('last')">尾页</a>
	[<span id="startpage"></span>/<span id="pagecount"></span>]
	共<span id="countTatol"></span>条
	<select id="pagesize" onchange="getitem('first')" class="selectpicker" data-live-search="true" data-actions-box="true">
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="50">50</option>
		<option value="80">80</option>
	</select>
</div>

<div style="height:250px;overflow-x:auto;overflow-y:auto;margin-left: 10px;border: 1px solid #bce8f1;">
	<table id="items" class="table table-striped table-bordered table-condensed table-hover" >
		<tr>
			<th style='width:60px'>
				<input type='checkbox' id="sosall" onclick="StockAllChecked('allsos')" value="-1">
				<label for="sosall">全选</label>
			</th>
			<th>单号</th>
			<th>客户</th>
			<th>结算方式</th>
			<th>税率</th>
			<th>分录号</th>
			<th>编码</th>
			<th>名称</th>
			<th>型号</th>
			<th>客户编码</th>
			<th>客户型号</th>
			<th>单位</th>
			<th>数量</th>
			<th>默认仓库</th>
			<!--<th>已入库</th>
			<th>未入库</th>-->
			<th>客户订单号</th>
			<th>批号</th>
			<th>含税价格</th>
		</tr>
	</table>
</div>

<div style="height:300px;overflow-x:auto;overflow-y:auto;margin-left:10px;margin-top: 3px;border: 1px solid #bce8f1;">
	<table id="demand" class="table table-striped table-bordered table-condensed table-hover" >
		<tr>
			<th style="width:50px;">行号</th>
			<th>主件编码</th>
			<th>产品编码</th>
			<th>名称</th>
			<th>型号</th>
			<th>单位</th>
			<th>需求数量</th>
			<th>在途数量</th>
			<th>待产数量</th>
			<th>库存数量</th>
			<th>综合需求数量</th>
		</tr>
	</table>
</div>


<link href="/erp/style/DatePicker2/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="/erp/style/DatePicker2/js/bootstrap-datetimepicker.min.js"></script>
<script src="/erp/style/DatePicker2/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		language : 'zh-CN',
		format : 'yyyy-mm-dd hh:ii:ss',//日期格式
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
		showMeridian: 1
	});
	$('.form_date').datetimepicker({
		language : 'zh-CN',
		format : 'yyyy-mm-dd',//日期格式
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});
	$('.form_time').datetimepicker({
		language : 'zh-CN',
		format : 'hh:ii',//日期格式
		weekStart: 1,//一周的开始 1 星期一 0星期天
		todayBtn:  1,//是否显示'today'按钮
		autoclose: 1,//是否自动关闭日期选择器
		todayHighlight: 1,//当天日期高亮
		//选择 年月日时分 43210
		startView: 1,//首先显示的视图
		minView: 0,//最精确的时间选择视图
		maxView: 1,

		forceParse: 0//强制解析
	});

</script>

</body>
</html>