<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myr.Mapper.othermodel.OtherModelMapper">

    <insert id="addOtherModel" useGeneratedKeys="true" keyProperty="fid">
        INSERT INTO `othermodel`
            (`fid`, `url`, `req_type`, `resultFormat`, `remark`)
        VALUES
            (NULL, #{url}, #{req_type}, #{resultFormat}, #{remark});
    </insert>

    <insert id="addOtherModelEntry">
        INSERT INTO `othermodelentry`
            (`fid`, `mid`, `par1`, `par2`, `par3`, `par4`, `par5`, `row_remark`)
        VALUES
            (NULL, #{mid}, #{par1}, #{par2}, #{par3}, #{par4}, #{par5}, #{row_remark});
    </insert>

    <select id="getCounts" resultType="int">
        select count(*) from othermodel
        where url like '%${AllQuery}%' or req_type like '%${AllQuery}%' or resultFormat like '%${AllQuery}%'
    </select>

    <select id="OTHER_MODEL_Index" resultType="com.myr.Bean.othermodel.OtherModel">
        select * from othermodel
        where url like '%${AllQuery}%' or req_type like '%${AllQuery}%' or resultFormat like '%${AllQuery}%'
        ORDER BY url
        limit #{startpage},#{pagesize}
    </select>

    <select id="GetDataByid" resultType="com.myr.Bean.othermodel.OtherModelEntry">
        SELECT * from othermodelentry where mid = #{mid}
    </select>

</mapper>