<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/erp/style/js/jquery.min.js"></script>
<script src="/erp/style/js/bootstrap.min.js"></script>
<link href="/erp/style/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	
</script>
<title></title>
</head>
	<body>
	
		<center>
			<h1>欢迎使用ERP信息管理系统</h1>
			
			<div id="datetime">
				<script>
					setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
				</script>
			</div>
		</center>
		
	</body>
</html>