<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>基础信息列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/erp/style/js/jquery.min.js"></script>
<script src="/erp/style/js/bootstrap.min.js"></script>
<link href="/erp/style/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	
	<style type="text/css">

	body {
		margin: 20px;
		background-color:#FCFCFC;
	}
	td{
		margin-left: 50px;
	}
	
	a{
		cursor: pointer;
	}

	.input-group{
		margin-left: 5px;
		margin-top: 5px;
		margin-right:20px;
		margin-bottom:20px;
		height: 25px;
		width:200px;
		float:left;
	}

	.meun{
		float:left;
		margin-left:5px;
	}

	.hid{
		display:none;
	}

	.input-group:hover .hid {
		display: block
	}
	
	

	</style>
	
	<script type="text/javascript">
		function showlab(){
			$(":checkbox").show();
		}

		function test(){
			window.parent.test("2021");
		}
	
	</script>
</head>

<body>
	
<div class="panel panel-default">
	<div class="panel-heading">基础信息列表<button class="btn btn-info btn-sm" style="float:right;" onclick="showlab()">收藏</button></div>

	<div class="panel-body">
		<div class="input-group input-group-sm">
			<div class="meun">
				<a href="#" onclick="javascript: window.parent.topage('left10101','客户','CustomerIndex',0);" style='text-decoration:none;'>
					客户
				</a>
			</div>
			<div class="meun hid">
				<button class="btn btn-info btn-xs" onclick="javascript: window.parent.topage('left1010101','客户-new','base/page_CustomerAdd',0);">
					新增
				</button>
			</div>
			<div class="meun">
				<input type="checkbox" hidden></a>
			</div>
		</div>
		<div class="input-group input-group-sm">
			<div class="meun">
				<a href="#" onclick="javascript: window.parent.topage('left10102','产品','Item_index',0);" style='text-decoration:none;'>
					产品
				</a>
			</div>
			<div class="meun hid">
				<button class="btn btn-info btn-xs" onclick="javascript: window.parent.topage('left1010201','产品-new','base/page_ItemAdd',0);">
					新增
				</button>
			</div>
			<div class="meun">
				<input type="checkbox" hidden></a>
			</div>
		</div>
		<div class="input-group input-group-sm">
			<div class="meun">
				<a href="#" onclick="javascript: window.parent.topage('left10103','仓库','StoreIndex',0);" style='text-decoration:none;'>
					仓库
				</a>
			</div>
			<div class="meun hid">
				<button class="btn btn-info btn-xs" onclick="javascript: window.parent.topage('left1010301','仓库-new','base/page_StoreAdd',0);">
					新增
				</button>
			</div>
			<div class="meun">
				<input type="checkbox" hidden></a>
			</div>
		</div>
		<div class="input-group input-group-sm">
			<div class="meun">
				<a href="#" onclick="javascript: window.parent.topage('left10104','供应商','SuppIndex',0);" style='text-decoration:none;'>
					供应商
				</a>
			</div>
			<div class="meun hid">
				<button class="btn btn-info btn-xs" onclick="javascript: window.parent.topage('left1010401','供应商-new','base/page_SupplierAdd',0);">
					新增
				</button>
			</div>
			<div class="meun">
				<input type="checkbox" hidden></a>
			</div>
		</div>

		<div class="input-group input-group-sm">
			<div class="meun">
				<a href="#" onclick="javascript: window.parent.topage('left10105','部门','DepartIndex',0);" style='text-decoration:none;'>
					部门
				</a>
			</div>
			<div class="meun hid">
				<button class="btn btn-info btn-xs" onclick="javascript: window.parent.topage('left1010501','部门-new','base/page_SupplierAdd',0);">
					新增
				</button>
			</div>
			<div class="meun">
				<input type="checkbox" hidden></a>
			</div>
		</div>

		<div class="input-group input-group-sm">
			<div class="meun">
				<a href="#" onclick="javascript: window.parent.topage('left10106','职员','StaffIndex',0);" style='text-decoration:none;'>
					职员
				</a>
			</div>
			<div class="meun hid">
				<button class="btn btn-info btn-xs" onclick="javascript: window.parent.topage('left1010601','职员-new','base/page_SupplierAdd',0);">
					新增
				</button>
			</div>
			<div class="meun">
				<input type="checkbox" hidden></a>
			</div>
		</div>


	</div>

</div>
	
	
	
	
 	

<!-- <div class="panel panel-default">
<div class="panel-footer">Panel footer</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered">
	<tr>
		<th>编号</th><th>姓名</th><th>性别</th><th>年龄</th>
	</tr>
	<tr>
		<td>1</td><td>ALISA</td><td>女</td><td>18</td>
	</tr>
	<tr class="info">
		<td>2</td><td>ALISA</td><td>女</td><td>18</td>
	</tr>
	<tr class="success">
		<td>3</td><td>ALISA</td><td>女</td><td>18</td>
	</tr>
	<tr>
		<td>4</td><td>ALISA</td><td>女</td><td>18</td>
	</tr>
</table>
	</div>
  
</div> -->



	
</body>
</html>